// Header

/* navbar */
.navbar-madkudu {
	font-weight: 500;
	letter-spacing: .05em;
	position: absolute;
}

.navbar-brand--logo {
	padding: 0em;
}

// Footer

.footer-madkudu {
	background-color: @blue-dark;
	padding: 60px 0;

	a {
		color: #fff;
	}
}

.techstars--footer {
	width: 150px;
}


.footer-social-links {
	display: flex;
	justify-content: flex-start;
	text-align: center;
	width: 100%;
}

.social-icon {
	border: 1px solid #818181;
	border-radius: 50px;
	display: inline-block;
	height: 34px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	max-width: 100%;
	opacity: 0.6;
	padding-top: 1px;
	transition: all 500ms ease;
	text-align: center;
	width: 34px;

	&:hover {
		opacity: 1;
	}

	img {
		max-width: 100%;
		display: inline-block;
		vertical-align: middle;
		margin-top: 5px;
	}
}
