.align-center {
	display: flex;
	align-items: center;
}

.align-top {
	display: flex;
	align-items: flex-start;
}

/* general btn overrides */
.btn-lg {
	font-size: 18px;
}

.block-secondary .btn-lg {
	width: 100%;
}

.btn-lg:not(.btn-block) {
	padding: 12px 50px;
}

@media (min-width: @screen-sm-min) {
	.btn-lg:not(.btn-block) {
		width: auto;
	}
}

@media (max-width: @screen-sm-min) {
	.btn-wrap {
		max-width: @screen-xs-min;
		white-space:normal !important;
	}
}



