// .row-integrations {
// 	text-align: center;
// }

@media (min-width: @screen-xs-min) {
	.row-integrations {
		display: flex;
		margin: 3em 0;
		align-items: center;
	}
}

.integration__header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1em;
	width: 100%;
}

@media (max-width: @screen-xs-min) {
	.integration__header {
		justify-content: center;
	}
}

.col-integrations {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

@media (max-width: @screen-xs-min) {
	.col-integrations {
		justify-content: center;
	}
}

.integration__box {
	background-color: #ececec;
	border: 1px solid #dddddd;
	border-radius: 3px;
	display: flex;
	justify-content: space-around;
	padding:1.5em;
	flex: 0 0 200px
}


.integration {
	margin: auto;
	height: 1.5em;
	width: 70%;
}

.integration__logo {
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	font-size: 1.3em;
}



.madkudu_form__in_action {

	.cropped {
		background-repeat: no-repeat;
		width: 240px;
		height: 412px;
		margin: 0 auto;
	}

	#madkudu_form__pingboard_demo {
		background-size: 480px 412px;
		background-position: 3px 0px;
	}

	#madkudu_form__segment_demo {
		background-size: 303px 413px;
		background-position: -30px 0px;
	}

	#madkudu_form__mention_demo {
		background-size: 369px 413px;
    background-position: -65px 0px;
	}

	#madkudu_form__you_demo {
		background-color: #cdcdcd;
		border: 2px solid @m-color-dark-blue;
		border-radius: 0px 0px 0px 0px;
		opacity: 0.34939759036145;
		height: 100%;
	}

	.madkudu_form_demo_vcenter {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 240px;
		color: white;
		font-size: 30px;
    font-weight: 400;
	}

}

.madkudu_form__easy_setup {

	padding-bottom: 58px;

	h1 {
		margin-bottom: 35px;
	}

	.three_steps {
		width: 520px;
		margin: 0 auto;

		.text {
			font-size: 20px;
			display: inline-block;
			padding-left: 11px;
			padding-bottom: 30px;
		}

	}

	.thatsit {
		margin-top: 5px;
		font-size: 28px;
	}

	.numberCircle {
		border-radius: 50%;
		width: 35px;
		font-size: 24px;
		border: 2px solid @m-color-grey;
		display: inline-block;
	}
	.numberCircle span {
		color: @m-color-grey;
		text-align: center;
		line-height: 30px;
		display: block;
	}

}


.madkudu_form__try_now {

	padding-top: 50px;

	.mk_form {
		padding-top: 50px;
	}

}
