.row-integrations {
	display: flex;
	margin: 3em 0;
	align-items: center;
}

.integration__header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1em;
	width: 100%;
}

.integration__box {
	background-color: #ececec;
	border: 1px solid #dddddd;
	border-radius: 3px;
	display: flex;
	justify-content: space-around;
	padding:1.5em;
	width: 100%;
}


.integration {
	margin: auto;
	height: 1.5em;
	width: 70%;
}

.integration__logo {
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	font-size: 1.3em;
}
