/* Top Menu Navigation
 *--------------------------------------------------*/

#nav-top {
	margin-bottom: 0;
	min-height: 40px;
	padding: 3px 0;
	background-color: white;

	@media (min-width: @screen-sm-min) {
		padding: 17px 0 16px;
	}
}

#nav-top .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

#nav-top .navbar-brand {
	margin-top: 6px;
	margin-bottom: 5px;
	padding: 0;
	width: 88px;
	height: 23px;
	color: transparent;
	.background-image("@{m-path-image}/general/main-logo-madkudu.png", 88px 23px);

	@media (min-width: @screen-sm-min) {
		margin-top: 0;
		margin-bottom: 0;
		width: 175px;
		height: 46px;
		background-size: 175px 46px;
	}
}


/* header menu */

#nav-top .icon-bar {
	background-color: @m-color-black;
}

#nav-top .navbar-toggle {

	@media (max-width: @screen-xs-max) {
		margin: 0;
	}
}

#nav-top .navbar-collapse {

	@media (max-width: @screen-xs-max) {
		background-color: @m-color-subtle-grey;
	}
}

#nav-top .navbar-collapse.in {
	margin-bottom: -4px;
}

#nav-top .navbar-nav {

	@media (min-width: @screen-sm-min) {
		margin-top: 2px;
		margin-bottom: 2px;
	}
}

#nav-top .navbar-nav > li + li {

	@media (min-width: @screen-sm-min) {
		margin-left: 15px;
	}
}

#nav-top .navbar-nav > li:last-child {

	@media (min-width: @screen-sm-min) {
		margin-left: 25px;
	}
}

#nav-top .navbar-nav > li > a {
	color: @m-color-black;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;

	@media (min-width: @screen-sm-min) {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: inherit
	}

	&:hover,
	&:focus {
		color: @m-color-blue;
	}
}

#nav-top .navbar-nav > li > a:hover {
	background-color: transparent;
}

#nav-top .navbar-nav > li > a.btn {
	color: @m-color-blue;
	border-color: @m-color-blue;
	margin: 5px 15px;

	@media (min-width: @screen-sm-min) {
		margin: 0 auto;
	}

	&:hover,
	&:focus {
		color: white;
		border-color: @m-color-blue;
		background-color: @m-color-blue;
	}
}