/* Top Menu Navigation
 *--------------------------------------------------*/

#nav-top {
	margin-bottom: 0;
	min-height: 40px;
	padding: 3px 0;
	background-color: white;

	@media (min-width: @screen-sm-min) {
		padding: 17px 0 16px;
	}
}

#nav-top .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

#nav-top .navbar-brand {
	margin-top: 6px;
	margin-bottom: 5px;
	padding: 0;
	width: 88px;
	height: 23px;
	color: transparent;
	.background-image("@{m-path-image}/general/main-logo-madkudu.png", 88px 23px);

	@media (min-width: @screen-sm-min) {
		margin-top: 0;
		margin-bottom: 0;
		width: 175px;
		height: 46px;
		background-size: 175px 46px;
	}
}


/* header menu */

#nav-top .icon-bar {
	background-color: @m-color-black;
}

#nav-top .navbar-toggle {

	@media (max-width: @screen-xs-max) {
		margin: 0;
	}
}

#nav-top .navbar-collapse {

	@media (max-width: @screen-xs-max) {
		background-color: @m-color-subtle-grey;
	}
}

#nav-top .navbar-collapse.in {
	margin-bottom: -4px;
}

#nav-top .navbar-nav {

	@media (min-width: @screen-sm-min) {
		margin-top: 2px;
		margin-bottom: 2px;
	}
}

#nav-top .navbar-nav > li + li {

	@media (min-width: @screen-sm-min) {
		margin-left: 15px;
	}
}

#nav-top .navbar-nav > li:last-child {

	@media (min-width: @screen-sm-min) {
		margin-left: 25px;
	}
}

#nav-top .navbar-nav > li > a {
	color: @m-color-black;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;

	@media (min-width: @screen-sm-min) {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: inherit
	}

	&:hover,
	&:focus {
		color: @m-color-blue;
	}
}

#nav-top .navbar-nav > li > a:hover {
	background-color: transparent;
}

#nav-top .navbar-nav > li > a.btn {
	color: @m-color-blue;
	border-color: @m-color-blue;
	margin: 5px 15px;

	@media (min-width: @screen-sm-min) {
		margin: 0 auto;
	}

	&:hover,
	&:focus {
		color: white;
		border-color: @m-color-blue;
		background-color: @m-color-blue;
	}
}



/* Jumbotron a.k.a Header Section
 *--------------------------------------------------*/

.jumbotron {
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	color: white;
	background-color: @m-color-dark-blue;

	@media (min-width: @screen-sm-min) {
		padding-top: 213px;
		padding-bottom: 213px;
		.background-image("@{m-path-image}/general/graphic-chart.png", contain);
		background-position: right bottom;
	}

	@media (min-width: 1601px) {
		background-size: 1600px 391px;
	}

	@media (min-width: 1921px) {
		background-image: none !important;
	}

	.container > * + * {
		margin-top: 40px;
		margin-bottom: 0;
	}
}

.jumbotron h1,
.jumbotron .h1 {
	font-size: 32px;
	line-height: 1.25em;
	font-weight: 300;
	margin: 0 auto;
	letter-spacing: 0.05em;

	@media (min-width: @screen-sm-min) {
	    font-size: 40px;
	    line-height: 1em;
	}

	br {

		@media (min-width: @screen-sm-min) {
		    display: none;
		}
	}
}

.jumbotron p {
	font-size: 18px;
	margin: 0 10px;
	letter-spacing: 0.075em;

	&.small {
		font-size: 15px;
	}
}

.jumbotron p a {
	color: @m-color-sky-blue;
	text-decoration: underline;
}

.jumbotron .btn {
	color: white;
	padding: 14px 42px;
	line-height: 1em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.jumbotron .btn-trial {
	background-color: @m-color-blue;
	border-color: @m-color-blue;

	&:hover,
	&:focus {
		background-color: lighten(@m-color-blue, 5%);
  }
}


.jumbotron .btn-demo {
	background-color: @m-color-green;
	border-color: @m-color-green;

	&:hover,
	&:focus {
		background-color: lighten(@m-color-green, 5%);
  }
}
