// customers block


.block-customers {
	background-color: #eee;
}

.customers-logos {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10px;
}

.customer-logo__box {
	width: 200px;
	height: 100px;
	padding: 20px;
}

.customer-logo {
	background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    margin: 0.5em;
    opacity: 0.5;
}

.customer-case-study {

	position: relative;

	&::after {
		background-color: @blue-2;
		content: 'Case study';
		position: absolute;
		display: block;
		bottom: -20%;
		left: 30%;
		width: 80px;
		text-align: center;
		padding: 1px;
		border-radius: 5px;
		color: #eee;

		@media (max-width: @screen-sm-min) {
			display: none;
		}

	}

}

// screenshots

.block-screenshots {
	p, li {
		font-size: 18px;
	}
}

// madkudu way block

.block-madkudu-way {

	p {
		font-size: 18px;
	}

	img {
		width: 70%;
	}

}


.stack-column {
	position: relative;
}

.stack-right-arrow {
	position: absolute;
	display: block;
	filter: opacity(20%);
	top: 20%;
	right: -10%;

	img {
		height: 100px;
		width: 50px;
	}

}

.row-models {
	margin: 100px 0;
}

.row-screenshots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}


.screenshot-left {
	order: -1;

	@media (max-width: @screen-sm-min) {
		order: 1;
	}
}

.cta-home {
	display: inline-block;
	margin-top: 10px;

	@media (min-width: @screen-md-min) {
		display: inline;
		margin-top: 0;

		&:nth-child(2) {
			margin-left: 20px;
		}
	}

	@media (max-width: @screen-sm-min) {

		&:nth-child(2) {
			display: none;
		}
	}
}

.block-for-you {
	font-size: 18px;
}
