// Header

header {
	position: static;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
	background-color: white;
}

.navbar-limited-width {
	max-width: 970px;
}

.navbar--madkudu {
	background-color: white;
	border-color: #e7e7e7;
	margin-bottom: 0;
	height: 70px;
	padding-top: 10px;
}

.navbar-brand--madkudu {
	padding: 6px 15px;
}

.navbar-brand__logo {
	height: 37px;
}

.navbar-nav--madkudu {
	display: none;
	li {
		font-weight: bold;

		a {
			padding-right: 13px;
			padding-left: 13px;
		}

		.active {
			text-decoration: underline;
		}
	}
}

.nav__link {
	color: #333 !important;

	&:hover {
		color: #000;
	}
}

.header-button--right {
	float: right;
	list-style: none;
	margin-bottom: 0;
}

// Not currently used

.brand-logo {
	margin-top: 20px;
	margin-left: 25px;
	float: left;
}

@media (max-width: 767px) {
	.brand-logo {
		margin-left: 0px;
	}
}
