// New

.column__text {
	// margin-top: 20px;
}

.column__image {
	img {
		// 	width: 100%;
		height: 250px;
	}
}

.image_what {
  // margin-left: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meet_madkudu_image {
	margin-top: 27px;
	width: 700px;
}

.benefits__row {
	margin-top: 40px;
}

.benefits__subtitle {
	color: #333;
	margin-bottom: 20px;
}

.wrapper {
	background-color: white;
	display: block;
	height: 100%;
	font-size: 18px;
	margin-top: 19px;
	position: relative;
}

.hero {
	background-image: url('../images/backgroung_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.page-content {
	padding-bottom: 1em;
}

section {
	// background-color: white;
	margin-top: 0;
	padding-top: 25px;
	padding-bottom: 50px;
	position: relative;
}

.section--signup {
	// background-color: @medium-blue;
	padding-top: 40px;
	padding-bottom: 75px;
	// text-align: center;
}

.section--logos {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
	color: #616161;
	text-align: center;
	h2 {
		margin-bottom: 30px;
		font-weight: 400;
	}
}

.case-study-one-liner {
	color: black;
}

.case-study-one-liner {
	padding-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #bebbbf;
}

.image-customer-logo {
	margin-left: 25px;
	margin-right: 25px;
	height: 80px;
}

.section--how-it-works {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
	// background-color: @light-blue;
	background-color: rgba(163, 209, 255, 0.29);
	color: #616161;
	text-align: left;
}

.how-it-works-icon {
	width: 100px;
}

.black-text {
	color: black;
}

.section--simple-stack {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
	// background-color: @light-blue;
	color: #616161;
	text-align: left;
}

.how-it-works-steps {
    margin-top: 55px;
    margin-bottom: 45px;
}

.how-it-works-icon-container {
	height: 120px;
	margin-bottom: 16px;
}

.banner-use-case {
	margin-top: 45px;
	background-color: @light-gray;
	border-top: 1px solid #ddecf2;
	border-bottom: 1px solid #ddecf2;
	padding-top: 19px;
	padding-bottom: 14px;
	font-style: italic;
}

.use-case-face {
	width: 60px;
}


// Old -- To be cleaned-up

.home-title {
	color: white;
	font-size: 2.5em;
	letter-spacing: 1px;
	line-height: 53px;
	margin-bottom: 20px;
	margin-top: 100px;
	// text-align: center;
	text-transform: none;
}

@media (max-width: 991px) {
	.home-title {
		font-size: 36px;
	}
}

@media (max-width: 767px) {
	.home-title {
		margin-left: 10px;
		font-size: 32px;
	}
}

@media (max-width: 479px) {
	.home-title {
		font-size: 32px;
		line-height: 30px;
	}
}

.home-subtitle {
	color: #eee;
	font-weight: 300;
	// text-align: center;
	margin-bottom: 20px;
}

.hero-screenshot {
	border-radius: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	width: 70%;
	z-index: 2;
}


.block-landing {
	font-size: 18px;
	line-height: 28px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;

	p {
		margin-top: 20px
	}
}

@media (max-width: 991px) {
	.block-landing {
		width: 80%;
	}
}

.heading-section {
	margin-bottom: 5px;
	text-align: center;
	font-size: 33px;
	font-weight: 100;
	letter-spacing: -0.4px;
	color: black;
	// font-family: 'Whitney SSm A','Whitney SSm B',"Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.35em;}

.heading-section-margin-top {
	margin-top: 45px;
}

.section-sub-heading {
	text-align: center;
	font-weight: 100;
	font-style: normal;
}

.section-three-images {
	margin-top: 25px;
	margin-bottom: 20px;
}

.section_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.image_churn_gary {
	.section_image;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	width: 100%;
}


.list-benefits {
	padding-left: 20px;

	li {
		margin-bottom: 5px;
		line-height: 28px;
	}
}

.signup-form {
	margin: 0 0 15px;
}

.signup-field {
	margin-top: 0px;
	margin-bottom: 8px;
	margin-right: 16px;
	width: 300px;
	height: 60px;
	font-size: 16px;
	text-align: center;
}

/** @todo: refactor this button */

.button {
	background-color: transparent;
	border: 2px solid #428bc7;
	border-color: white;
	// border-color: @medium-blue;
	border-radius: 5px;
	color: white;
	// color: @medium-blue;
	display: inline-block;
	font-weight: 600;
	margin-top: 15px;
	padding: 8px 18px;
	transition: all 500ms ease;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.button-signup {
	width: 215px;
	height: 60px;
	margin-top: 0px;
	margin-bottom: 8px;

	background-color: #43AD1F;

	&:hover {
		background-color: @medium-blue;
		color: white;
	}
}

.button-signup--nav {
	height: 30px;
	width: 175px;
	padding: 0 0;
	margin: 10px 0;
	border: 2px solid @medium-blue;
	border-color: @medium-blue;
	color: @medium-blue;
}

.button-login--nav {
	height: 30px;
	width: 100px;
	padding: 0 0;
	margin: 10px 0;
	// border: 2px solid @medium-blue;
	// border-color: @medium-blue;
	color: @medium-blue;
}

.form-success {
	display: none;
	background-color: transparent;
}

.form-fail {
	background-color: #ffdede;
	color: rgba(255, 0, 0, 0.70);
	display: none;
}
