// Variables

// Colors

@dark-blue: hsla(210, 15%, 24%, 1);
@dark-blue-light: hsla(210, 15%, 30%, 1);
@dark-blue-lighter: hsla(210, 15%, 36%, 1);
@medium-blue: hsla(210,54%, 52%, 1);
@light-blue: hsla(210, 100%, 82%, 1);

// Borders
@container-border-radius: 3px;

// Fonts

@font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
