DirectoryIndex index.html index.php index.htm parking-page.html

# Redirect http://madkudu.com to http://www.madkudu.com
RewriteEngine On
RewriteCond %{HTTP_HOST} ^madkudu.com
RewriteRule (.*) http://www.madkudu.com/$1 [R=301,L]

# Redirect http://www.madkudu.com/index.html to http://www.madkudu.com
RewriteRule ^index\.html$ http://www.madkudu.com/ [L,R=301]

# Redirect http://www.madkudu.com/index.html to http://www.madkudu.com
RewriteRule ^index\.html$ http://www.madkudu.com/ [L,R=301]

# Redirect /newsletter
Redirect 301 /newsletter /blog/newsletter

# Remove the .html
RewriteRule ^pricing/?$ pricing.html [NC,L]
RewriteRule ^simulator/?$ simulator.html [NC,L]
RewriteRule ^about/?$ team.html [NC,L]
RewriteRule ^team/?$ team.html [NC,L]
RewriteRule ^customers-uxpin/?$ customers-uxpin.html [NC,L]
RewriteRule ^investors/?$ investors.html [NC,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
