DirectoryIndex index.html index.php index.htm parking-page.html

# Redirect http://madkudu.com to http://www.madkudu.com
RewriteEngine On
RewriteCond %{HTTP_HOST} ^madkudu.com
RewriteRule (.*) http://www.madkudu.com/$1 [R=301,L]

# Redirect https://madkudu.com to http://www.madkudu.com
RewriteEngine On
RewriteCond %{HTTPS} ^madkudu.com
RewriteRule (.*) http://www.madkudu.com/$1 [R=301,L]

# Redirect http://www.madkudu.com/index.html to http://www.madkudu.com
RewriteRule ^index\.html$ http://www.madkudu.com/ [L,R=301]

# Redirect http://www.madkudu.com/index.html to http://www.madkudu.com
RewriteRule ^index\.html$ http://www.madkudu.com/ [L,R=301]

# Redirect /newsletter
Redirect 301 /newsletter /blog/newsletter

# Remove the .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [NC,L]


RewriteRule ^smart-form/?$ form.html [NC,L]
RewriteRule ^about/?$ team.html [NC,L]
RewriteRule ^geckoboard/?$ customers-geckoboard.html [NC,L]
RewriteRule ^jobs/?$ careers.html [NC,L]
RewriteRule ^privacy-policy/?$ privacy.html [NC,L]
RewriteRule ^terms-of-service/?$ terms.html [NC,L]

# Redirect to Instapage landing page
RewriteRule ^opportunity_scoring/?$ features/oppscoring.html [NC,L]
RewriteRule ^opportunity-scoring$ http://try.madkudu.com/opportunity-scoring [NC,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
