extends ../../components/skeleton.jade

include ../../components/mixins.jade
include ../../bootstrap/alerts.jade


block head
	title MadKudu | Accelerating SaaS sales with predictive analytics
	meta(name='description' content='Accelerating SaaS sales with predictive analytics')

block neck
	script analytics.page('Opportunity Scoring')

block body

	//- MONTAZZE NOTE: Should remove this wrapper after changed all site
	.body

		include ../../components/header_white.jade

		header.jumbotron
			.container

				h1 "A better way to visualize Pipeline"
				p Request early access to MadKudu Opportunity Scoring

		section.contact.alt
			.container
				.contact-content
					div.form-contact-wrapper
						form(id="fcontact",class=["form", "form-contact"],action="contact.html?s=sent",method="get")
							legend Request early access
							fieldset
								+input-field('email','email',null,'Email','email', 'required')
								+input-field('tel','phone',null,'Phone Number','phone','required')
								+input-field('text','Source',null,'How did you hear about us?','source',null)
								button.btn.btn-lg.btn-primary.btn-block.mki_contact(type='submit') Get started!

					div.reason
						p Inspired by Point Nine Capital Partner Christoph Janz's <a href='http://christophjanz.blogspot.com/2016/06/a-better-way-to-visualize-pipeline.html' target='_blank'>"A better way to visualize pipeline"</a>, MadKudu's opportunity scoring will enable you to better understand your pipeline.

						blockquote.m-t-lg.testimony-item.reason__testimony
							p I love my MadKudu dashboards and
								br
								|  reports in Salesforce, they've
								br
								|  helped increase dramatically
								br
								|  the productivity of my sales team.
							footer
								div(class=["image-bg", "image-testimony", "matthieu-vaxelaire"])
								div
									strong Matthieu Vaxelaire
									span CEO, Mention

		section.sales
			.container
				h3 You've been missing the data
					br
					| to answer these questions
				ol.box-flow
					li.figure-right
						.text
							.centering
								.centering-inner
									h4 How healthy is my pipeline?
									p See how much of your current pipeline is tied to new deals.
									p Find out at what stage your opportunities were 30 days ago.
									p Quickly identify opportunities that require your attention.
						.figure
							img(src='./../../static/images/opportunity_won_validation.png')

					li.figure-left
						.text
							.centering
								.centering-inner
									h4 What's my pipeline velocity?
									p See what has happened to your pipeline over the past 30 days.
									p Find how much of your pipeline is closing.
									p Quickly identify bottlenecks in your opportunity flow.

						.figure
							img(src='./../../static/images/opportunity_demo_won.png')

		section.contact.alt
			.container
				h3 FAQ
				ul
					li
						h4 What is involved in setting up MadKudu Opportunity Scoring?
						p We've made the setup as streamlined as can be. All we need is an API key.
					li
						h4 What CRMs are currently supported for MadKudu Opportunity Scoring?
						p Currently only Salesforce is supported but Pipedrive and Close.io are coming soon.
					li
						h4 How is the pricing structured for MadKudu Opportunity Scoring?
						p This features comes at a flat rate of $249/month. As part of the early access program, we are offering a 15-day trial.
					li
						h4 Do the reports come pre-built with MadKudu Opportunity Scoring?
						p Because each company looks at their business differently, we do not automatically roll out reports. However you can see <a href='http://docs.madkudu.com/playbook/salesforce_opportunity_scoring_setup_report/' target='_blank'> here </a> how to add the reports into your daily sales dashboards and reports.

block scripts
	script(src="js/parsley.min.js")
	script.

		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		};

		if (!Date.prototype.toISOString) {
			(function() {

			    function pad(number) {
			    	if (number < 10) {
			        	return '0' + number;
						}
					return number;
			    }

			    Date.prototype.toISOString = function() {
			    	return this.getUTCFullYear() +
				        '-' + pad(this.getUTCMonth() + 1) +
				        '-' + pad(this.getUTCDate()) +
				        'T' + pad(this.getUTCHours()) +
				        ':' + pad(this.getUTCMinutes()) +
				        ':' + pad(this.getUTCSeconds()) +
				        '.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
				        'Z';
			    };

			}());
		}

		$(document).ready( function() {

			analytics.identify();

			var alertBox = getParameterByName('s');

			if (alertBox == "sent") {
				alertBoxSuccess = '<div role="alert" class="alert alert-dismissible alert-success"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Fabulous! We\'ll be in touch';

				$('.contact .container').prepend(alertBoxSuccess);
			}

			var formEl = $('#fcontact');

			formEl.on('submit', function(e) {

				e.preventDefault();

				var email = formEl.find('[name=email]').val(),
					phone = formEl.find('[name=phone]').val(),
					source = formEl.find('[name=source]').val(),
					timeNowObj = new Date(),
					timeNowStr = timeNowObj.toISOString();

				if (email) {
					analytics.identify({
						email: email,
						phone: phone,
						source: source
					});

					analytics.track('Request Demo', {
						email: email,
						phone: phone,
						source: source
					});

					setTimeout( function() {
						window.location.href = "/opportunity_scoring?s=sent"
					}, 1000);
				}
			});
		});
//- 741
