extends ../../components/skeleton.jade

block neck

	title MadKudu | Slack

	script analytics.page('Integrations - Slack')

block body

	.background-grey

		include ../../components/header_black.jade

		.block.block-grey

			.container

				p Bla bla bla

