extends ../components/skeleton.jade

block neck
	title MadKudu | Careers

	script analytics.page('Careers')

block body

	.background-white

		include ../components/header_black.jade

		.container

			.block.block-careers

				include ../../markdown/html/careers.html

			.block.block-careers

				h1 Current openings<a name="openings" id="openings></a>

				ul.careers-list
					li
						a(href='/careers/data_engineer') Data Engineer
