extends ../components/skeleton.jade

include ../components/contact_form.jade
include ../bootstrap/alerts.jade


block head
	title MadKudu | Accelerating SaaS sales with predictive analytics
	meta(name='description' content='Accelerating SaaS sales with predictive analytics')

block neck
	script analytics.page('Contact')

block body

	//- MONTAZZE NOTE: Should remove this wrapper after changed all site
	.body

		include ../components/header_white_new.jade

		section.contact
			.container

				h1 Let's make your sales
					br
					| team more efficient
				span.subheading Schedule a call with Sam or Francis, Madkudu's founders
				.contact-content
					div.team-list
						ul
							li
								.item-wrapper
									div(class=["image-bg", "image-team", "sam-levan"])
									div
										strong Sam levan
										span CEO
							li
								.item-wrapper
									div(class=["image-bg", "image-team", "francis-brero"])
									div
										strong Francis Brero
										span CCO
						p 10 years experience using data science to improve sales operations at 100s of companies like Segment, Jitterbit, and Contactually.
					div.form-contact-wrapper
						form#fcontact.form.form-contact
							legend Schedule a call with us
							fieldset
								+input-field('text','firstname',null,'First Name','firstname','required')
								+input-field('text','lastname',null,'Last Name','lastname','required')
								+input-field('email','email',null,'Email','email', 'required')
								+input-field('tel','phone',null,'Phone Number','phone','required')
								+input-field('text','company',null,'Company Name or URL','company','required')
								+input-field('text','timecall',null,'When Are You Available for a call?','timecall',null)
								button.btn.btn-lg.btn-primary.btn-block.mki_contact(type='submit') Let's Chat!
					div.reason
						p Let's talk about your existing sales operations - we'll offer any advice we have.
						p If MadKudu can help your sales team be more efficient we’ll walk you through the next steps.
						blockquote.m-t-lg.testimony-item.reason__testimony
							p My first conversation with this team
								br
								| wasn’t a demo - it was a sales
								br
								| consultation. The advice was so valuable
								br
								| I would have paid for it.
							footer
								div(class=["image-bg", "image-testimony", "kevin-dewalt"])
								div
									strong Kevin Dewalt
									span Founder SoHelpful

block scripts
	script(src="js/parsley.min.js")
	script.
		$(document).ready( function() {
			var formEl = document.getElementById('fcontact');

			var alertBox = getParameterByName('s');

			if (alertBox === 'sent') {
				alertBoxSuccess = '<div role="alert" class="alert alert-dismissible alert-success"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Fabulous! We\'ll be in touch';

				$('.contact .container').prepend(alertBoxSuccess);
			}

			$(document).on("submit", formEl, function (event) {
				//- This works but trackForm won't fire. Must be a js error.
				//- analytics.identify({
				//-   email: 'testdata@test.com'
				//- });
				analytics.trackForm(formEl, 'Request Demo', {
					firstname: $('#firstname').val(),
					lastname: $('#lastname').val(),
					email: $('#email').val(),
					phone: $('#phone').val(),
					company: $('#company').val(),
					timecall: $('#timecall').val()
				});

				window.location.href = '/contact.html?s=sent';

				event.preventDefault();
			});
		});

		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
