extends ../components/skeleton.jade

block neck

    title MadKudu | Turn more leads into paying customers | Shopify Lead Scoring Case Study

    script analytics.page('Case study')

block body

    .block.block-fill-height.block-case-study

        include ../components/header_white.jade

        .container

            .row.text-center
                h1.m-b Shopify generates 30% more sales with predictive lead scoring
                a(href='https://www.shopify.com/plus' target='_blank').customer-logo.m-b
                    img(src='/static/images/customers/shopify-logo.png' width="50%")

            .row.m-t-lg
                p
                    | <a href='https://www.shopify.com/plus' target='_blank'>Shopify</a> is the leading cloud-based, multi-channel commerce platform designed for small and medium-sized businesses. Merchants can use the software to design, set up, and manage their stores across multiple sales channels, including web, mobile, social media, marketplaces, brick-and-mortar locations, and pop-up shops. The platform also provides merchants with a powerful back-office and a single view of their business. The Shopify platform was engineered for reliability and scale, making enterprise-level technology available to businesses of all sizes. Shopify currently powers over 377,500 businesses in approximately 175 countries and is trusted by brands such as Tesla, Red Bull, Nestle, GE, Kylie Cosmetics, and many more.

                h4.m-t-md.m-b The business challenge

                p
                    | Shopify is a very popular commerce platform and attracts a high volume of leads. However Shopify offers a wide variety of plans starting at $9/month. This results in a range of inbound commerces going from very small businesses to multi-million dollars enterprises such as Nestle. The sales team at Shopify Plus offers Enterprise-grade solutions for high volume merchants, and large businesses.
                p
                    | Before implementing MadKudu, Adam worked with his data science team at Shopify to build a predictive lead scoring. The project, named "gold rush", was meant to help the Sales team focus on leads that had the highest potential for the plans they offered. Using firmographic data along with marketing data extracted from Hubspot, they build a model that accurately identified the top 10% of leads that would generate a third of the revenue.
                p
                    | However, Adam had heard about other companies implementing MadKudu and their success prioritizing leads based on the MadKudu scores. He set up to run a blind A/B test where 50% of the leads would be scored and prioritized based on his team's score and 50% would be scored by MadKudu. The reps wouldn't know where the scores originated from.

                h4.m-t-md.m-b How MadKudu helped

                p
                    | It only took Adam a few clicks to connect MadKudu to <a href="http://www.hubspot.com/?madkudu">Hubspot</a> to start the process.
                p
                    | The MadKudu platform started pulling conversion information about Shopify's historical leads. MadKudu automatically started enriching leads, deriving features (aka potential predictors) to predict conversion. Using advanced machine learning, MadKudu identified which combinations of features were highly predictive of the potential of a lead and an account. The results were staggering and showed that MadKudu could identify the best 4% of leads that accounted for 34% of the conversions.
                p
                    | When looking into the scores of leads that had been worked by the sales team historically, MadKudu found there was a high potential to improve the team efficiency by aligning their efforts against the predicted potential of leads.

                .container.m-t

                  .row.landing_page__subblock
                    .col-md-6.landing_page__sub_block_column_text
                      .landing_page__block_vertically_centered
                        .landing_page__block_feature_text MadKudu Leadscoring in action
                        .landing_page__block_feature_subtext Leveraging MadKudu's advanced machine learning, Shopify was now able to identify A leads which converted 42.5 times better than the D leads!
                    .col-md-6.landing_page__sub_block_column_image
                      .landing_page__block_vertically_centered
                        .landing_page__block_feature_image
                          img(src='/static/images/customers/shopify-lead-scoring.png' width='400')

                h4.m-t-md.m-b The results

                p
                    | Adam and the Shopify team set up and run a 2 month A/B testing. Leads would randomly be scored either by MadKudu or by Shopify's data science team model. After the test was finished the results were unequivocal, MadKudu outperformed the Shopify model by 30%
                p
                    | The benefits of using MadKudu were two-fold. It enabled the sales team to perform even better while working fewer leads. More importantly it allowed the data science team to increase their leverage by focusing on building intelligence for the Shopify app.
                .container.m-t

                  .row.landing_page__subblock
                    .col-md-6.landing_page__sub_block_column_text
                      .landing_page__block_vertically_centered
                        .landing_page__block_feature_text Better alignment
                        .landing_page__block_feature_subtext MadKudu enabled the sales team at Shopify to spend their time and efforts on leads that carried the highest potential
                    .col-md-6.landing_page__sub_block_column_image
                      .landing_page__block_vertically_centered
                        .landing_page__block_feature_image
                          img(src='/static/images/customers/shopify-impact-forecast.png' width='400')

            .row.m-t-lg
                blockquote.m-t-lg.testimony-item.reason__testimony
                    p
                        | Switching our lead scoring to MadKudu was a no brainer, we became more efficient as a team and were able to reallocate internal resources to building the core product.
                    footer
                        div(class=["image-bg", "image-testimony", "adam-mccabe"])
                        div
                            strong Adam McCabe
                            span Revenue Operations, Shopify Plus
