extends ../components/skeleton.jade

block neck

	title MadKudu | Turn trial users into paying customers | Instapage Case Study

	script analytics.page('Case study')

block body

	.block.block-fill-height.block-case-study

		include ../components/header_white.jade

		.container

			.row.text-center
				h1.m-b Instapage increases its conversion rate by 18% with MadKudu Customer Fit
				a(href='http://www.instapage.com' target='_blank').customer-logo.m-b
					img(src='/static/images/customers/instapage_logo.png')

			.row.m-t-lg
				p
					| <a href='http://www.instapage.com' target='_blank'>Instapage</a> is on a mission to lower the cost of customer acquisition. By offering marketers an end-to-end solution to quickly build, integrate, and A/B split test landing pages for every unique campaign, paid advertising is more relevant and effective. With more than one million landing pages at an average conversion rate higher than 22 percent, Instapage is helping more than 15,000 customers across 100 countries increase margins and revenue. Instapage was established in 2012 and employs around 100 people worldwide, across central locations in San Francisco (headquarters), Romania and Poland.

				h4.m-t-md.m-b The business challenge

				p
					| Instapage offers a 14-day free trial that attracts a high volume of signups per month. At the end of the trial users can select from a three-tier pricing plan ranging from at $39/month for the Basic, to $149 for Premium. They also offer customizable Enterprise plans. Instapage sees a range of signups that include vSMBs and large enterprises. Given the variety of signups, it is crucial that the Instapage sales and marketing team be able to identify high potential leads, to offer those leads the onboarding consultation that best fit, and deliver the right level of support during the onboarding process.

				p
					| Before MadKudu, Instapage relied on their Customer Success team to manually identify high-potential leads. While this approach helped identify some larger companies, there were many false positives, meaning large companies were converting at a lower velocity (see <a href='http://www.madkudu.com/blog/kill-deers-faster-quickest-win-increasing-saas-mrr/' target='_blank'>here</a> for definition). MadKudu also uncovered a large number of false negatives, leads that were less obvious fits, and converted at a much higher rate.

				h4.m-t-md.m-b How MadKudu helped

				p
					| When Instapage activated the MadKudu <a href='http://www.segment.com' target='_blank'>Segment</a> integration and connected their <a href='http://www.salesforce.com' target='_blank'>Salesforce</a> instance, they saw immediate results.
				p
					| MadKudu automatically started enriching leads, deriving features (aka potential predictors) to predict conversion and the plan at which the lead would convert. Using our advanced machine learning, MadKudu found which combinations of features were highly predictive of the potential velocity (conversion probability and optimal plan) of a lead and an account. MadKudu was able to identify the best 10% of leads that accounted for 66% of the top line.
				p
					| Armed with this newly gained understanding of their signups, Instapage designed new <a href='http://www.autopilothq.com' target='_blank'>Autopilot</a> campaigns to offer a white-glove onboarding for those high-quality leads. Since MadKudu and Autopilot are native Segment integrations, instapage was instantly able to more accurately route leads towards the appropriate onboarding flow: self-service, low-touch high-velocity sales and high-touch lower-velocity based on the MadKudu scores
				p
					| Instapage was further able to refines the onboarding campaigns by incorporating MadKudu’s behavioural enrichment and predictions to increase the relevance of their messaging.

				h4.m-t-md.m-b The results

				p
					| Instapage improved the efficiency of their Customer Success team team. This single campaign resulted in a 18% increase in overall conversion rate.

			.row.text-center
				img(src='/static/images/madkudu-instapage-customer-fit-prediction.png')

			.row.m-t-lg
				blockquote.m-t-lg.testimony-item.reason__testimony
					p
						| MadKudu is a great tool to identify and help your top leads while increasing your conversion rates across the board. 
					footer
						div(class=["image-bg", "image-testimony", "stefano-mazzalai"])
						div
							strong Stefano Mazzalai
							span Sr Marketing Operations Manager at Instapage
