extends ../components/skeleton.jade

block neck
	title MadKudu | Features

	script analytics.page('Features')

block body

	.background-grey

		include ../components/header_white.jade

		.block.block-grey

			.container
				.block-title.m-b-lg.text-center
					h2 Integrations
					h4 Give super powers to the applications you already use

				.row.row-integrations
					.col-sm-3.col-xs-12
						.integration__header
							h4 Analytics
					.col-sm-9.col-xs-12.col-integrations
						.integration__box
							h2.integration
								.integration__logo(title='Segment' style='background-image: url(/static/images/integrations/segment.svg);')
						.integration__box
							h2.integration
								.integration__logo(title='Mixpanel' style='background-image: url(/static/images/integrations/mixpanel.svg);')
						.integration__box
							h2.integration
								.integration__logo(title='KISSmetrics' style='background-image: url(/static/images/integrations/kissmetrics.svg);')

				.row.row-integrations
					.col-sm-3.col-xs-12
						.integration__header
							h4 Marketing Automation
					.col-sm-9.col-xs-12.col-integrations
						.integration__box
							h2.integration
								.integration__logo(title='Intercom' style='background-image: url(/static/images/integrations/intercom.svg);')
						.integration__box
							h2.integration
								.integration__logo(title='Marketo' style='background-image: url(/static/images/integrations/marketo.svg);')

				.row.row-integrations
					.col-sm-3.col-xs-12
						.integration__header
							h4 CRM
					.col-sm-9.col-xs-12.col-integrations
						.integration__box
							h2.integration
								.integration__logo(title='Salesforce' style='background-image: url(/static/images/integrations/salesforce.svg);')

						.integration__box
							h2.integration
								.integration__logo(title='SalesforceIQ' style='background-image: url(/static/images/integrations/salesforceiq.svg);')

				.row.row-integrations
					.col-sm-3.col-xs-12
						.integration__header
							h4 Chat
					.col-sm-9.col-xs-12.col-integrations
						a.integration__box
							h2.integration
								.integration__logo(title='Slack' style='background-image: url(/static/images/integrations/slack.svg);')
