extends ../components/skeleton.jade

block neck

	title MadKudu | Turn trial users into paying customers | Google validation

	script analytics.page('Case study')

block body
	p google-site-verification: google2ea171c2bc8228f0.html