extends ../components/skeleton.jade

block neck
	title MadKudu | Dev

	script(type='text/javascript' src='js/home.js')

block body

	.wrapper
		.hero
			.container
				h1.home-title The easiest way <br>to decrease customer churn
				h2.home-subtitle MadKudu tells you which accounts are likely to churn and why.
				img.hero-screenshot(src='images/Accounts.png' width='80%' alt='MadKudu account dashboard')
		.section-explainer
			.container
				.block-landing
					h2.heading-section Stop firefighting, become proactive.
					p Your Customer Success team works hard everyday to make each customer successful.
					p But how much of this time is spent in “customer rescue missions” and not pro-actively helping customers get the most value from your product?
					p Wouldn't it be awesome to avoid those fire drills in the first place and make sure that you consistently drive your customers to value?
		.section-benefits
			.container
				.block-landing
					h2 Introducing MadKudu, <br>the simplest Customer Success Management Platform
					p.paragraph-center We built MadKudu from the ground up to help Customer Success team engage with their customers, when it matters.
					h3.subtitle-benefits Observe
					ul.list-benefits
						li All your customer data in one place, regardless of the source
						li See the activity of an entire account or drill-down to the user level.
					h3.subtitle-benefits Detect
					ul.list-benefits
						li Use your own rules or let our data science do the work.
						li Don’t let anything fall through the cracks.
					h3.subtitle-benefits Engage
					ul.list-benefits
						li Schedule calls, send personalized or batch emails, right from the app.
						li Built specifically for companies with high-touch customers.
		.section-signup
			.container
				h2.heading-section Happy customers are the lifeblood of your business.<br>Are your ready to increase customer retention now?
				.signup-form#signup
					form.signup-form(id='mc-early-signup-form' name='email-form' data-name='Email Form' action='//madkudu.us8.list-manage.com/subscribe/post?u=50d10dbb43453c101e00a5f6f&amp;id=2562f30397' method='post')
						input.signup-field(id='mc-EMAIL' type='email' placeholder='Your email address' name='EMAIL' data-name='EMAIL' required='required')
						input.button.button-signup(type='submit' value='Send me an invite!' data-wait='Please wait...')
					.form-success
						p.signup-text Thank you! We’ll get in touch very soon!
					.form-fail
						p.signup-text Oops! Something went wrong while submitting the form

