extends ../components/skeleton.jade


block neck
	title MadKudu | Turn trial users into paying customers

	meta(name='description' content='Turn trial users into paying customers')

	script analytics.page('Home')


block body

	include ../components/header_white.jade

	.block.block-inverse.block-fill-height.block-home

		img.app-graph(src='static/images/startup-0.svg')

		.container
			.row.vertical-center
				.col-sm-12.text-center
					h1.block-title.m-b Your sales team is wasting too much time researching leads
					p.lead.m-b-lg.text-muted SaaS apps get real-time, intelligent lead notifications in Slack
					div
						a.btn.btn-primary.btn-lg.cta-home.btn-wrap(href='https://app.madkudu.com/signup') 
							| Start your free trial
						//a.btn.btn-warning.btn-lg.cta-home.btn-wrap(href='https://app.madkudu.com/signup') Get a <strong>free customer analysis</strong> in less than 5 minutes

	.block.block-screenshots

		.container.p-u-0
			.row.p-b-lg.p-u-0
				h2.text-center Engage your best leads in the 1st hour 

		.container.p-t-lg
			.row.row-screenshots.m-b-md

				.col-md-6.col-xs-12
					h3.m-t-0 Automatically researches your trial customers
					//- h4.text-muted.m-b MadKudu identifies new high potential lifetime value users and alerts your sales team to greet them.
					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							h4.m-b-md Qualify your leads on just an email address
							p.m-t-0 No name? No title? Gmail address? No problem! 	
							p.m-t-0 Get critical sales metrics like location, company size, and role from an email addres.
							p.m-t-0 We do the research and find the best leads.
						//- .col-sm-6
						//- 	h5 Keep your existing workflow
						//- 	p.m-y-0  MadKudu triggers alerts in Slack with links to your CRM, LinkedIn and many others.
						//- 	p.m-t-0 <a href='/features' class='text-primary'>Learn more</a>.

				.col-md-5.col-xs-12.pull-right
					img(src='static/images/people.jpg')

		.container.p-t-lg

			.row.row-screenshots.m-y-md

				.col-md-4.col-md-offset-1.col-xs-12
					h3.m-t-0 QUALIFIED LEAD alerts in Slack
					//- h4.text-muted.m-b MadKudu creates triggers in your automation platform to send the right email at the right time.
					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							h4.m-b-md Instant productivity - no more digging through Salesforce
							p.m-t-0 Your entire company works in Slack - why not sales?
							p.m-t-0 Get more productivity, collaboration and responsiveness from your sales team.
							p.m-t-0 All the information at your fingertips: LinkedIn, Salesforce, web sites, and more.


				.col-md-7.col-xs-12.screenshot-left
					img(src='static/images/qualified_lead_alert.png')

	.block.block-screenshots.block-inverse.block-dark-grey

		.container.p-u-0
			.row.p-b-lg.p-u-0
				h2.text-center Sell more by monitoring in-app behavior

		.container.p-t-lg
			.row.row-screenshots.m-b-md

				.col-md-6.col-xs-12
					h3.m-t-0 Get their attention the moment they begin using your app
					//- h4.text-muted.m-b MadKudu identifies new high potential lifetime value users and alerts your sales team to greet them.
					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							h4.m-b-md Onboard 20% more customers with ACTIVATION alerts
							p.m-t-0 Your best leads have 1000s of unread emails - your emails get lost in the noise.
							p.m-t-0 Get their attention the moment they begin using your app - even months after sign up.

						//- .col-sm-6
						//- 	h5 Keep your existing workflow
						//- 	p.m-y-0  MadKudu triggers alerts in Slack with links to your CRM, LinkedIn and many others.
						//- 	p.m-t-0 <a href='/features' class='text-primary'>Learn more</a>.

				.col-md-6.col-xs-12.pull-right
					img.img-rounded(src='static/images/activation_alert.png')

		.container.p-t-lg

			.row.row-screenshots.m-y-md

				.col-md-5.col-md-offset-1.col-xs-12
					h3.m-t-0 Engage trial customers the moment they are ready to buy
					//- h4.text-muted.m-b MadKudu creates triggers in your automation platform to send the right email at the right time.
					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							h4.m-b-md Close 20% more sales with READY-TO-BUY alerts
							p.m-t-0 You have hundreds of qualified leads testing your product - but do you know which ones are ready to buy right now?

							p.m-t-0 Wouldn't you like to contact them ... before they forget about you ... or get busy ... or go on vacation ...
							p.m-t-0 Stop losing deals!


				.col-md-6.col-xs-12.screenshot-left
					img.img-rounded(src='static/images/ready_to_buy.png')





	.block.block-customers.p-t.p-b-md
		.row.text-center
			h5.text-muted.text-uppercase Dozens of successful startups and leading companies are already choosing MadKudu
		.row.customers-logos.m-b
			.customer-logo__box.customer-case-study
				a.customer-logo(href='/customers-codeship' style='background-image: url(/static/images/customers/codeship.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/pingboard_black.svg);')
			.customer-logo__box.customer-case-study
				a.customer-logo(href='/customers-uxpin' style='background-image: url(/static/images/customers/uxpin_black.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/vend_black.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/shopventory_black.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/sumall_black.svg);')
			//- .customer-logo__box
			//- 	.customer-logo(style='background-image: url(/static/images/customers/waffle.svg);')


	.block.block-prescriptive
		.container.text-center
			.row.m-b-lg
				.col-xs-12
					h1.m-t-0.m-b No integration - get started in minutes
						
			.row.row-marketing-grid
				.col-sm-12.p-x-md.m-b-md.text-center.stack-column
					h3 Step 1 - Connect Segment, KISSmetrics, or mixpanel
					img.m-a(src='static/images/integrations/segment.svg')
					img.m-a(src='static/images/integrations/kissmetrics.svg')
					img.m-a(src='static/images/integrations/mixpanel.svg')
						
			.row.row-marketing-grid
				.col-sm-12.p-x-md.m-b-lg.text-center.stack-column
					h3 Step 2 - Connect Slack
					img.m-a(src='static/images/integrations/slack.svg')
	
						
			.row.m-t-lg
				a.btn.btn-primary.m-t-lg.btn-lg.cta-home.btn-wrap(href='https://app.madkudu.com/signup') 
							| Start your free trial
		

	.block.block-inverse.block-praise
		.container.text-center
			.row.m-b-lg
				.col-xs-12
					h1.m-t-0.m-b Customer testimonials
					
		.container.text-center
			.row
				blockquote.pull-quote
					img.img-circle(src='static/images/team/francois.png')
					p "This just works - an instant, highly-visible win. Our sales team team is calling qualified leads in the 1st hour instead of digging through Salesforce and searching LinkedIn."
					cite.m-b-lg Francois Bondiguel, Director of Online Marketing at Vend

	.block.block-madkudu-way
		.container
			.row.text-center
				.col-xs-12
					h1.m-t-0.m-b Predictive analytics is MadKudu's secret sauce
					h3.m-t-0.m-b NO messy lead scoring or notification rules
					
			.row.m-a-lg.hidden-xs.hidden-sm
				.col-md-12
					p Lead scoring and alert rules are too tedious to maintain. MadKudu uses data science and predictive algorithms.

					p Results? You spend your time closing deals instead tediously messing around in your CRM.


			.row.text-center
				.col-md-6.hidden-sm.hidden-xs
					h2 The old way
					p.m-a-md Takes too much time to maintain by hand
					div 
						img(src='static/images/old_way.jpg')
					
				.col-md-6
					h2.hidden-xs.hidden-sm The MadKudu way
					p.m-a-md.hidden-sm.hidden-xs Setup once. You're done.
					div
						img(src='static/images/madkudu_way.jpg')
					
						

		//- .container.text-center
		//- 	.row.m-t-lg
		//- 		blockquote.pull-quote
		//- 			img.img-circle(src='static/images/andrew_at_waffle.png')
		//- 			p “A no-brainer. We closed X leads and MadKudu paid for itself in X weeks”
		//- 			cite jack customer



		//- .container.p-t-lg
		//- 
		//- 	.row.row-screenshots.m-y-md
		//- 
		//- 		.col-md-6.col-xs-12
		//- 			h3.m-t-0 Pro-actively re-engage with users whose onboarding is at risk
		//- 			h4.text-muted.m-b MadKudu identifies which users need assistance and how to help them.
		//- 			.row.hidden-xs.hidden-sm
		//- 				.col-sm-6.m-b-md
		//- 					h5 Detect struggling users
		//- 					p.m-t-0 MadKudu finds the "user happy path" to conversion and identifies users who are lost on it.
		//- 				.col-sm-6
		//- 					h5 Take action faster
		//- 					p.m-y-0 MadKudu pushes behavioral attributes directly in your support platforms.
		//- 					p.m-t-0 <a href='/features' class='text-primary'>Learn more</a>.
		//- 
		//- 		.col-md-5.col-xs-12
		//- 			img(src="static/images/channels_intercom.png")


	.block.block-inverse.block-dark-grey
		.container.text-center
			.row.m-b-md
				h3 100% No BS risk free trial

			.row.m-b-md
				.col-sm-3
				.col-sm-6
					h4 You don't pay us until we help you get more sales.
				.col-sm-3

			//- .row.text-left.m-b-md
			//- 	.col-sm-3
			//- 	.col-sm-6
			//- 		//- ul(style='line-height: 250%;')
			//- 		.text-center(style='line-height: 250%;')
			//- 			p What <strong>industries</strong> gives you the best conversions and lifetime value?
			//- 			p What is the <strong>company size</strong> sweetspot?
			//- 			p What are the <strong>job titles</strong> that convert and engage best?
			//- 			p What <strong>geographies</strong> to focus in?
			//- 			p What <strong>features</strong> do your best customers value most?
			//- 	.col-sm-3

			.row.p-b-lg
				a.btn.btn-primary.btn-lg.btn-wrap(href='https://app.madkudu.com/signup') Start your free trial
