extends ../components/skeleton.jade


block neck
	title MadKudu | Accelerating SaaS sales with predictive analytics

	meta(name='description' content='Accelerating SaaS sales with predictive analytics')

	script analytics.page('Home')

	script.
		$(document).ready(function () {
			$('.mki_landing_demo').click(function (event) {
				event.preventDefault();
				analytics.track('Langing Page - Clicked request demo');
				window.open('http://www.formlets.com/forms/56de30b13735111b2d934a79','_blank');
			});
		});


block body

	include ../components/header_white.jade

	.block.block-inverse.block-home

		.container
			.row.vertical-center
				.col-sm-12.text-center
					h1.block-title.m-b Predictive lead scoring for SaaS sales
					p.lead.m-b-lg.text-muted Become the hero for your sales team - this is the customer insight they've been screaming for
					div
						a.btn.btn-primary.btn-lg.cta-home.btn-wrap(class='mki_landing_demo')
							| Get a demo


	.block.block-customers.p-t.p-b-md
		.row.text-center
			h1.text-muted.text-uppercase Featured Customers
		.row.customers-logos.m-b
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/segment-logo-black.svg);')
			.customer-logo__box.customer-case-study
				a.customer-logo(href='/customers-codeship' style='background-image: url(/static/images/customers/codeship.svg);')
			.customer-logo__box.customer-case-study
				a.customer-logo(href='/customers-uxpin' style='background-image: url(/static/images/customers/uxpin_black.svg);')


	.block.block-screenshots

		.container.p-u-0
			.row.p-b-md.p-u-0
				h1.text-center Increase SaaS sales by 20% or more with the power of predictive analytics
				
		.container.m-t-md
			.row
				.col-md-6
					img(src='/static/images/people_grid.jpg')
				.col-md-4.m-l-md
					h4.text-center Which leads are most valuable?
					p Who has a budget and a problem? And who is just poking around?
					p Does your sales team know which leads have performed critical actions in your product? And which ones never finished signing-up?
			.row.m-t-lg
				.col-md-4
					h4.text-center Focus on your best leads
					p MadKudu identifies your best leads based on customer fit and behavior.
					p No more wasted time on unqualified leads
				.col-md-8.pull-right
					img(src='/static/images/lead_score_grid.jpg')

		//- .container.p-t-lg
		//- 	.row.row-screenshots.m-b-md
		//- 
		//- 		.col-md-6.col-xs-12
		//- 			h3.m-t-0 Automatically researches your trial customers
		//- 			//- h4.text-muted.m-b MadKudu identifies new high potential lifetime value users and alerts your sales team to greet them.
		//- 			.row.hidden-xs.hidden-sm
		//- 				.col-md-12.m-b-md
		//- 					h4.m-b-md Qualify your leads on just an email address
		//- 					p.m-t-0 No name? No title? Gmail address? No problem!
		//- 					p.m-t-0 Get critical sales metrics like location, company size, and role from an email address.
		//- 					p.m-t-0 We do the research and find the best leads.
		//- 				//- .col-sm-6
		//- 				//- 	h5 Keep your existing workflow
		//- 				//- 	p.m-y-0  MadKudu triggers alerts in Slack with links to your CRM, LinkedIn and many others.
		//- 				//- 	p.m-t-0 <a href='/features' class='text-primary'>Learn more</a>.
		//- 
		//- 		.col-md-5.col-xs-12.pull-right
		//- 			img(src='/static/images/people.jpg')
		//- 
		//- .container.p-t-lg
		//- 
		//- 	.row.row-screenshots.m-y-md
		//- 
		//- 		.col-md-4.col-md-offset-1.col-xs-12
		//- 			h3.m-t-0 QUALIFIED LEAD alerts in Slack
		//- 			//- h4.text-muted.m-b MadKudu creates triggers in your automation platform to send the right email at the right time.
		//- 			.row.hidden-xs.hidden-sm
		//- 				.col-md-12.m-b-md
		//- 					h4.m-b-md Instant productivity - no more digging through Salesforce
		//- 					p.m-t-0 Your entire company works in Slack - why not sales?
		//- 					p.m-t-0 Get more productivity, collaboration and responsiveness from your sales team.
		//- 					p.m-t-0 All the information at your fingertips: LinkedIn, Salesforce, web sites, and more.
		//- 
		//- 
		//- 		.col-md-7.col-xs-12.screenshot-left
		//- 			img(src='/static/images/qualified_lead_alert.png')

	.block.block-screenshots.block-inverse.block-dark-grey

		.container.p-u-0
			.row.p-b-lg.p-u-0
				h1.text-center What's our secret sauce? 
				h1.text-center We grok in-app behavior, the key to SaaS sales
			.row
				h3 If selling SaaS products was like selling tractors your wouldn't need MadKudu
				p Lots of lead scoring systems can tell if a lead is a good customer fit - and we do that too. Heck, if you’re selling tractors just knowing whether that new lead is a farmer or an astronaut is probably enough.  
				
				p But SaaS businesses are unique:
				
				ul 
					li Our products change constantly 
					li Customers convert at different times
					li Customers churn if we don’t resell our value every billing cycle
					
				p The key to SaaS sales is giving your reps deep, actionable insight into the most important steps customers take during their journey with you.
				
				p Only with behavior insight can your sales reps predict what customers will do.

		.container.m-t-lg
			.row
				h2.text-center A simple "behavior fit" score isn't enough - MadKudu gives you multiple customer lifecycle predictions
				
			.row.row-screenshots.m-t-lg
				.col-md-6.col-xs-12
					h3.m-t-0 Likelihood to buy

					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							p.m-t-0 MadKudu tracks your previous customers' buying behavior and looks for events highly correlated with leads who convert.
							p.m-t-0 These signals are used to build models that predict a lead's Likelihood of buying.

						//- .col-sm-6
						//- 	h5 Keep your existing workflow
						//- 	p.m-y-0  MadKudu triggers alerts in Slack with links to your CRM, LinkedIn and many others.
						//- 	p.m-t-0 <a href='/features' class='text-primary'>Learn more</a>.

				.col-md-6.col-xs-12.pull-right
					img.img-rounded(src='/static/images/likelihood_to_buy_person.jpg')

			.row.row-screenshots.row-models

				.col-md-5.col-xs-12
					h3.m-t-0 Likelihood to upsell
					//- h4.text-muted.m-b MadKudu creates triggers in your automation platform to send the right email at the right time.
					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							p.m-t-0 Boom! Your sales teams instantly know which customers to call about migrating to an enterprise plan.

							p.m-t-0 MadKudu's algorithms automatically adapt to new features or customers.


				.col-md-6.col-xs-12.screenshot-left
					img.img-rounded(src='/static/images/likelihood_to_upsell_person.jpg')
						
			.row.row-screenshots.row-models
				.col-md-6.col-xs-12
					h3.m-t-0 Likelihood to churn

					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							p.m-t-0 Yikes! One of your enterprise customers is exhibiting patterns just like the last 3 who canceled their account.
							p.m-t-0 Fortunately your sales reps can intervene before they cancel.

						//- .col-sm-6
						//- 	h5 Keep your existing workflow
						//- 	p.m-y-0  MadKudu triggers alerts in Slack with links to your CRM, LinkedIn and many others.
						//- 	p.m-t-0 <a href='/features' class='text-primary'>Learn more</a>.

				.col-md-6.col-xs-12.pull-right
					img.img-rounded(src='/static/images/likelihood_to_churn_person.jpg')

			.row.row-screenshots.row-models

				.col-md-5.col-xs-12
					h3.m-t-0 Customized predictors
					//- h4.text-muted.m-b MadKudu creates triggers in your automation platform to send the right email at the right time.
					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							p.m-t-0 Your product is unique - sign up for our enterprise plan and we'll build customized behavior predictors.



				.col-md-6.col-xs-12.screenshot-left
					img.img-rounded(src='/static/images/likelihood_to_custom_person.jpg')


	.block.block-screenshots

		.container.p-u-0
			.row.p-b-lg.p-u-0
				h1.text-center We tell your sales reps WHY a lead scores high or low so they can engage customers more effectively
			.row
				p Simply knowing a customer is likely to buy isn't good enough - sales reps need context and reasons to engage customers. 
				p By knowing what behaviors lead to a lead score your reps will engage in more valuable conversations and close more leads.
			.row.row-screenshots
				.col-md-12
					img.img-rounded(src='/static/images/bad_email.jpg')

				.col-md-12
					img.img-rounded(src='/static/images/good_email.jpg')

	.block.block-inverse.block-home.block-screenshots

		.container
			.row.vertical-center
				.col-sm-12.text-center
					h1 Updates your CRM - where your sales reps work 
					p MadKudu integrates with popular CRMs like Salesforce, SalesforceIQ, Marketo, and Pipedrive
				.col-md-12.m-t-lg
					img.img-rounded(src='/static/images/trump.jpg')

		.container.m-t-lg
		
			.row.row-screenshots.m-y-md
		
				.col-md-5.col-xs-12
					h2.m-t-0 Never miss an opportunity with Slack alerts
					//- h4.text-muted.m-b MadKudu creates triggers in your automation platform to send the right email at the right time.
					.row.hidden-xs.hidden-sm
						.col-md-12.m-b-md
							h4.m-b-md Instant productivity - no more digging through Salesforce
							p.m-t-0 Your entire company works in Slack - why not sales?
							p.m-t-0 Get more productivity, collaboration and responsiveness from your sales team.
							p.m-t-0 All the information at your fingertips: LinkedIn, Salesforce, web sites, and more.
		
		
				.col-md-7.col-xs-12.screenshot-left
					img.img-rounded(src='/static/images/ready_to_buy.png')

				


	.block.block-screenshots
		.container.p-u-0
			.row.p-b-lg.p-u-0
				h1.text-center Predictions automatically improve with sales rep feedback
			.row
				p Most sales reps are skeptical of algorithmic-based lead scoring - and for good reason. No model is smart as your sales team. 
				p You’ll get sales buy-in by giving them the tools to make MadKudu’s predictions smarter based on their feedback. 				
				.col-md-12.m-t-lg
					img.img-rounded(src='/static/images/lead_feedback.jpg')


			//- .row.row-marketing-grid
			//- 	.col-sm-12.p-x-md.m-b-md.text-center.stack-column
			//- 		h3 Step 1 - Connect Segment, KISSmetrics, or mixpanel
			//- 		img.m-a(src='/static/images/integrations/segment.svg')
			//- 		img.m-a(src='/static/images/integrations/kissmetrics.svg')
			//- 		img.m-a(src='/static/images/integrations/mixpanel.svg')
			//- 
			//- .row.row-marketing-grid
			//- 	.col-sm-12.p-x-md.m-b-lg.text-center.stack-column
			//- 		h3 Step 2 - Connect Slack
			//- 		img.m-a(src='/static/images/integrations/slack.svg')
			//- 
			//- 
			//- .row.m-t-lg
			//- 	a.btn.btn-primary.m-t-lg.btn-lg.cta-home.btn-wrap(href='https://app.madkudu.com/signup')
			//- 				| Start your free trial


	.block.block-inverse.block-praise
		.container.text-center
			.row.m-b-lg
				.col-xs-12
					h1.m-t-0.m-b Customer testimonials

		.container.text-center
			.row
				.col-md-6
					blockquote.pull-quote
						img.img-circle(src='/static/images/team/guillaume.jpeg')
						p "Lead Scoring is a fantastic way to improve your marketing. MadKudu does a great job at it, and integrates perfectly with the Segment platform."
						cite.m-b-lg Guillaume Cabane, VP of Growth Segment
				.col-md-6
					blockquote.pull-quote
						img.img-circle(src='/static/images/team/francois.png')
						p "This just works - an instant, highly-visible win. Our sales team team is calling qualified leads in the 1st hour instead of digging through Salesforce and searching LinkedIn."
						cite.m-b-lg Francois Bondiguel, Director of Online Marketing at Vend
			//- .row
			//- 	.col-md-6
			//- 		blockquote.pull-quote
			//- 			img.img-circle(src='/static/images/team/francois.png')
			//- 			p "This just works - an instant, highly-visible win. Our sales team team is calling qualified leads in the 1st hour instead of digging through Salesforce and searching LinkedIn."
			//- 			cite.m-b-lg Francois Bondiguel, Director of Online Marketing at Vend
			//- 	.col-md-6
			//- 		blockquote.pull-quote
			//- 			img.img-circle(src='/static/images/team/francois.png')
			//- 			p "This just works - an instant, highly-visible win. Our sales team team is calling qualified leads in the 1st hour instead of digging through Salesforce and searching LinkedIn."
			//- 			cite.m-b-lg Francois Bondiguel, Director of Online Marketing at Vend


	.block.block-customers.p-t.p-b-md
		.row.text-center
			h1.text-muted.text-uppercase More Customers
		.row.customers-logos.m-b
			.customer-logo__box.customer-case-study
				a.customer-logo(href='/customers-codeship' style='background-image: url(/static/images/customers/codeship.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/pingboard_black.svg);')
			.customer-logo__box.customer-case-study
				a.customer-logo(href='/customers-uxpin' style='background-image: url(/static/images/customers/uxpin_black.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/vend_black.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/shopventory_black.svg);')
			.customer-logo__box
				.customer-logo(style='background-image: url(/static/images/customers/sumall_black.svg);')
			//- .customer-logo__box
			//- 	.customer-logo(style='background-image: url(/static/images/customers/waffle.svg);')

	.block.block-inverse.block-home.block-screenshots
		.container.p-u-0
			.row.p-b-lg.p-u-0
				h1.text-center No integration - works across your marketing and sales stack
				
			.row
				p  MadKudu enriches your data with our proprietary algorithms and 3rd-party APIs. 				
				.col-md-12.m-t-lg
					img.img-rounded(src='/static/images/marketecture.jpg')



	
	.block.block-madkudu-way
		.container
			.row.text-center
				.col-xs-12
					h1.m-t-0.m-b No manual lead scoring rules

			.row.m-a-lg.hidden-xs.hidden-sm
				.col-md-12
					p Manual, rule-based lead scoring systems like HubSpot are fine for qualifying leads in static applications (like e-commerce). 
					
					p However, lead scoring rules are impossible to maintain in SaaS applications where the market and product are constantly evolving. 


			.row.text-center
				.col-md-6.hidden-sm.hidden-xs
					h2 The old way
					p.m-a-md Takes too much time to maintain by hand
					div
						img(src='/static/images/old_way.jpg')

				.col-md-6
					h2.hidden-xs.hidden-sm The MadKudu way
					p.m-a-md.hidden-sm.hidden-xs Setup once. You're done.
					div
						img(src='/static/images/madkudu_way.jpg')




	.block.block-inverse.block-dark-grey.block-for-you
		.container
			.row.text-center
				.col-md-8.col-md-offset-2
					h1 Is MadKudu for you?
					p So here you are ... at the bottom of our landing page ... still reading ... and wondering ... "Is this for me?"


			.row.m-y-lg
				.col-md-8.col-md-offset-2.pull-left
					
					h3 Are you a B2B SaaS company?
					p Awesome! SaaS is all we do and we think we’re the best at it.

					h3 Do you have a sales team?
					p Great! We'll give them the data they need to convert more sales.

					h3 Do you get >500 leads/month?
					p MadKudu needs enough data points to make accurate predictions.
					
					p.m-t-md If you answered "yes" to all 3 questions MadKudu is for you. You have nothing to lose - just sign up for a demo and we will setup a call to talk to you about your environment.



			.row.p-b-lg.text-center
				a.btn.btn-primary.btn-lg.cta-home.btn-wrap(class='mki_landing_demo')
					| Get a demo
