extends ../components/skeleton.jade

block neck
	title MadKudu | The easiest way to decrease customer churn

	script(type='text/javascript' src='js/index.js')

block body

	style.
		 p {
			font-size: 18px;
			line-height: 28px;
		}

		.heading-section {
			margin-bottom: 35px;
		}

	.wrapper
		.hero
			.container
				h1.home-title The easiest way to<br> know which customers need attention
				h2.home-subtitle Madkudu analyzes your customer interactions and <br>let you know when a customer needs help.
				img.hero-screenshot(src='images/Accounts.png' width='80%' alt='MadKudu account dashboard')

		.section--standard#section-explainer
			.container
				.row
					.col-md-1
					.col-md-10.text-center
						h2.heading-section Results come from the right action at the right time.
					.col-md-1
				.row
					.col-md-1
					.col-md-5.column__text
						p There is a short window in the life of a customer where churn can be avoided.
						p It is between the time an account starts to run into difficulties and the time it is almost impossible to change the situation.
						p Caught at the right time, there is still a big chance to keep this customer if you reach out and offer to help.
					.col-md-5.column__image
						img(src='images/engagement_curve.png')
					.col-md-1

			.container(style='margin-top: 25px;')
				.block-landing
					h2.heading-section What if you could know which customers need attention right now?
				.row
					.col-md-1
					.col-md-5.column__image
						img(src='images/customer_signal.png')
					.col-md-5.column__text
						p Your customers would love it, retention would increase, and no more of those rescue missions that takes a huge amount of time...
					.col-md-1

		.section--standard#section-benefits(style='background-color: #DCEDFF;')
			.container
				.row
					.col-md-1
					.col-md-10.text-center
						h2.heading-section(style='margin-bottom: 0px;') Meet MadKudu, <br>the simplest Customer Analytics solution for B2B SaaS companies
					.col-md-1


			.container
				.row.benefits__row
					.col-md-1
					.col-md-5.column__text
						h2.benefits__subtitle Connect
						p Consolidate your customer data all in one place by turning on a few switches.
						p See the activity of an entire account or drill down to the user level.
					.col-md-5.column__image
						img(src='images/feature_integrations.png' width='100%')
					.col-md-1

			.container
				.row.benefits__row
					.col-md-1
					.col-md-5.column__image
						img(src='images/feature_detect.png' width='100%')
					.col-md-5.column__text
						h2.benefits__subtitle Detect
						p Let our data science do the work. Don't let anything fall through the cracks.
					.col-md-1

			.container
				.row.benefits__row
					.col-md-1
					.col-md-5.column__text
						h2.benefits__subtitle Act
						p Get notified when something important is happening with one of your accounts and requires action.
						p Access your customer intelligence in the applications you already use (CRM, Help desk...)
					.col-md-5.column__image
						img(src='images/feature_notify.png' width='100%')
					.col-md-1

		style.
			.col-centered{
				float: none;
				margin: 0 auto;
			}
			.column-thirty-three {
				width: 33%;
				float: left;
			}
			.column-inside {
				margin-left: 20px;
				margin-right: 20px;
			}

		.section--standard#section-why-madkudu
			.container
				.row
					.col-md-1
					.col-md-10.text-center
						h2.heading-section What's unique about MadKudu?
					.col-md-1
				.col-centered
					.row
						.column-thirty-three.text-center
							.column-inside
								h2 No setup required
								p MadKudu's data platform connects to your existing apps and automatically sets itself up.
								p No need for a time-consuming custom implementation.
						.column-thirty-three.text-center
							.column-inside
								h2 Simple
								p MadKudu is simple to use and does not require a long training.
								p Data science detects events that you need to know about.
						.column-thirty-three.text-center
							.column-inside
								h2 Best ROI
								p Don't overpay for unnecessary custom work.
								p Our pricing is simple and transparent and don't lock you in with a contract.

		.section-signup#section-signup(style='background-color: #DCEDFF;')
			.container
				h2.heading-section Happy customers are the lifeblood of your business.<br>Are your ready to increase customer retention now?
				.signup-form-wrap#signup
					form.signup-form(id='mc-early-signup-form' name='email-form' data-name='Email Form' action='//madkudu.us8.list-manage.com/subscribe/post?u=50d10dbb43453c101e00a5f6f&amp;id=2562f30397' method='post')
						input.signup-field(id='mc-EMAIL' type='email' placeholder='Your email address' name='EMAIL' data-name='EMAIL' required='required')
						input.button.button-signup(type='submit' value='Send me an invite!' data-wait='Please wait...')
					.form-success
						p.signup-text Thank you! We'll get in touch very soon!
					.form-fail
						p.signup-text Oops! Something went wrong while submitting the form

