extends ../components/skeleton.jade

block neck
	title MadKudu | The easiest way to decrease customer churn

	script(type='text/javascript' src='js/index.js')

block body

	style.
		 p {
			font-size: 18px;
			line-height: 28px;
		}

	.wrapper
		.hero#section-signup
			.container
				h1.home-title Customer intelligence<br>to engage and retain customers
				h2.home-subtitle Know what your customers are going to do and why.

				//- h2.home-subtitle MadKudu analyzes your customer interactions <br>and finds out how you can be most helpful and most effective.
				//- img.hero-screenshot(src='images/Accounts.png' width='80%' alt='MadKudu account dashboard')

				section.section--signup
					//- .container
					.signup-form-wrap#signup
						form.signup-form(id='mc-early-signup-form' name='email-form' data-name='Email Form' action='//madkudu.us8.list-manage.com/subscribe/post?u=50d10dbb43453c101e00a5f6f&amp;id=2562f30397' method='post')
							input.signup-field(id='mc-EMAIL' type='email' placeholder='Your email address' name='EMAIL' data-name='EMAIL' required='required')
							input.button.button-signup(type='submit' value='Send me an invite!' data-wait='Please wait...')
						.form-success
							p.signup-text Thank you! We'll get in touch very soon!
						.form-fail
							p.signup-text Oops! Something went wrong while submitting the form



		section.section--explainer#section-explainer
			.container
				.row
					.col-md-12
						h2.heading-section Understand what keeps your customers coming back

				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu analyzes the behavior of your best and worst customers to find out what are the most important drivers of engagement. And what is not.
					.col-md-2

				.row
					.col-md-2
					.col-md-8
						img(src='images/factor_analysis_2.png').section_image
					.col-md-2


			.banner-use-case
				.container
					.row
						.media
							.media-left
								img(src='images/awesome_dude_1.png').media-object.use-case-face
							.media-body
								p "I was surprise to find that 30% of the customers who did not convert had created a support ticket. We did the necessary fixes and conversions increased by 25%."



			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Save at-risk customers before they leave
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu monitor signals that indicate a customer is likely to leave.<br>You can now reach out and offer to help before it is too late.
					.col-md-2

				.row.section-three-images
					.col-md-4
						img(src='images/churn_gary_calega.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/churn_diana.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/churn_gary_response.png').section_image.image_churn_gary


			.banner-use-case
				.container
					.row
						.media
							.media-left
								img(src='images/awesome_gal_1.png').media-object.use-case-face
							.media-body
								p "Being able to identify and get in touch with dissatisfied customers before they leave is so effective. <br>I love it when a customers say "I was just about to call you but you beat me to it"."


			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Give extra love to your top customers<br><span style="border-bottom: 2px dashed #000;text-decoration: none;">before</span> they become top customers
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu overlays behavior data to public information about your customers to find out who has the potential to become your tomorrow's best customer.
					.col-md-2

				.row.section-three-images
					.col-md-2
					.col-md-4
						img(src='images/best_customers_lisa.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/best_customer_lisa_email.png').section_image.image_churn_gary
					.col-md-2



			.banner-use-case
				.container
					.row
						.media
							.media-left
								img(src='images/awesome_dude_3.png').media-object.use-case-face
							.media-body
								p "I have often asked myself the question of what makes my best customers different from my other customers? <br> Now I know. And I make sure that each customer who is a great fit is successful with us.



			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Sell to customers when they are ready to buy
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu analyzes past behavior to find out when a customer is ready to convert or for an upsell.
					.col-md-2

				.row.section-three-images
					.col-md-2
					.col-md-4
						img(src='images/upsell_linda_profile.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/upsell_linda_email.png').section_image.image_churn_gary
					.col-md-2

			.banner-use-case
				.container
					.row
						.media
							.media-left
								img(src='images/awesome_dude_4.png').media-object.use-case-face
							.media-body
								p "Timing is key when it comes to converting or upselling customers. Before MadKudu, I would send emails from time to time to all customers on a free plan. Now I can run very targeted campaigns that give awesome results."



		section.section--benefits#section-benefits

			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Give super powers to the applications you already use
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu connects to your existing solutions to get raw customer data and push back actionable customer intelligence.
					.col-md-2

				.row.text-center
					img(src='images/feature_integrations.png').meet_madkudu_image


			//- .container
			//- 	.row
			//- 		.col-md-12.text-center
			//- 			h1(style="margin-bottom: 30px;") Meet MadKudu

			//- 	.row
			//- 		.col-md-7.column__text
			//- 			h2.heading-section &#9312; Connect
			//- 			p With just a few clicks, get all your customer data in one place.
			//- 			p You now have visibility on the complete customer journey.
			//- 			p See the activity of an entire account or drill down to the user level.
			//- 		.col-md-5
			//- 			img(src='images/feature_integrations.png').meet_madkudu_image

			//- 	.row.heading-section-margin-top
			//- 		.col-md-5
			//- 			img(src='images/feature_detect.png' width='100%').meet_madkudu_image
			//- 		.col-md-7.column__text
			//- 			h2.heading-section &#9313; Detect
			//- 			p MadKudu's algorithms crunch your customer data to find out:
			//- 				ul
			//- 					li who needs attention
			//- 					li what behaviors impact engagement
			//- 					li what is the best next action for each customer.

			//- 	.row.heading-section-margin-top
			//- 		.col-md-7.column__text
			//- 			h2.heading-section &#9314; Engage
			//- 			p This customer intelligence is synced with your marketing applications and your CRM. So your data is always where you need it.
			//- 			p Use the applications you already love to engage with your customers.
			//- 		.col-md-5
			//- 			img(src='images/feature_engage.png' width='100%').meet_madkudu_image


		//- style.
		//- 	.col-centered{
		//- 		float: none;
		//- 		margin: 0 auto;
		//- 	}
		//- 	.column-thirty-three {
		//- 		width: 33%;
		//- 		float: left;
		//- 	}
		//- 	.column-inside-left {
		//- 		margin-left: 0px;
		//- 		margin-right: 40px;
		//- 	}
		//- 	.column-inside-center {
		//- 		margin-left: 20px;
		//- 		margin-right: 20px;
		//- 	}
		//- 	.column-inside-right {
		//- 		margin-left: 40px;
		//- 		margin-right: 0px;
		//- 	}

		//- section.section--why#section-why-madkudu
		//- 	.container
		//- 		.row
		//- 			.col-md-12.text-center
		//- 				h2.heading-section What's unique about MadKudu?
		//- 		.col-centered
		//- 			.row
		//- 				.column-thirty-three.text-center
		//- 					.column-inside-left
		//- 						img(src='images/why_madkudu_roi.png' width='150px')
		//- 						h2 Best ROI
		//- 						p Create amazing results without spending time and money.
		//- 				.column-thirty-three.text-center
		//- 					.column-inside-center
		//- 						img(src='images/why_madkudu_intelligent.png' width='150px')
		//- 						h2 Intelligent
		//- 						p MadKudu uses advanced data science to find what matters.
		//- 				.column-thirty-three.text-center
		//- 					.column-inside-right
		//- 						img(src='images/why_madkudu_simple.png' width='150px')
		//- 						h2 Simple
		//- 						p MadKudu simplifies your life and get you results in no time.

