extends ../components/skeleton.jade

block neck
	title MadKudu | The easiest way to decrease customer churn

	script(type='text/javascript' src='js/index.js')

block body

	style.
		 p {
			font-size: 18px;
			line-height: 28px;
		}

	.wrapper
		.hero#section-signup
			.container
				h1.home-title Customer intelligence<br>to grow the lifetime value<br>of SaaS customers
				//- h1.home-title Turn trials into sales
				h2.home-subtitle Know what your customers are going to do and why.

				//- h2.home-subtitle MadKudu analyzes your customer interactions <br>and finds out how you can be most helpful and most effective.
				//- img.hero-screenshot(src='images/Accounts.png' width='80%' alt='MadKudu account dashboard')

				section.section--signup
					//- .container
					.signup-form-wrap#signup
						form.signup-form(id='mc-early-signup-form' name='email-form' data-name='Email Form' action='//madkudu.us8.list-manage.com/subscribe/post?u=50d10dbb43453c101e00a5f6f&amp;id=2562f30397' method='post')
							input.signup-field(id='mc-EMAIL' type='email' placeholder='Your email address' name='EMAIL' data-name='EMAIL' required='required')
							input.button.button-signup(type='submit' value='Send me an invite!' data-wait='Please wait...')
						.form-success
							p.signup-text Thank you! We'll get in touch very soon!
						.form-fail
							p.signup-text Oops! Something went wrong while submitting the form



		section.section--explainer#section-explainer

			//- .container
			//- 	.row
			//- 		.col-md-12
			//- 			h2.heading-section Understand what keeps your customers coming back

			//- 	.row
			//- 		.col-md-2
			//- 		.col-md-8
			//- 			h3.section-sub-heading MadKudu analyzes the behavior of your best and worst customers to find out what are the most important drivers of engagement. And what is not.
			//- 		.col-md-2

			//- 	.row
			//- 		.col-md-2
			//- 		.col-md-8
			//- 			img(src='images/factor_analysis_2.png').section_image
			//- 		.col-md-2

			//- .banner-use-case
			//- 	.container
			//- 		.row
			//- 			.media
			//- 				.media-left
			//- 					img(src='images/awesome_dude_1.png').media-object.use-case-face
			//- 				.media-body
			//- 					p "I was surprised to find that 30% of the customers who did not convert had created a support ticket. We did the necessary fixes and conversions increased by 25%."


			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Give extra love to your top customers<br><span style="border-bottom: 2px dashed #000;text-decoration: none;">before</span> they become top customers
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu overlays behavior data to public information about your customers to find out who has the potential to become tomorrow's best customer.
					.col-md-2

				.row.section-three-images
					.col-md-2
					.col-md-4
						img(src='images/best_customers_lisa.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/best_customer_lisa_email.png').section_image.image_churn_gary
					.col-md-2



			.banner-use-case
				.container
					.row
						.media
							.media-left
								img(src='images/awesome_dude_3.png').media-object.use-case-face
							.media-body
								p "I have often asked myself what makes my best customers different from my other customers? <br>Now I know! And I make sure that each customer who is a great fit is successful with us.



			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Sell to customers when they are ready to buy
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu analyzes past behavior to find out when a customer is ready to convert or ready for an upsell.
					.col-md-2

				.row.section-three-images
					.col-md-2
					.col-md-4
						img(src='images/upsell_linda_profile.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/upsell_linda_email.png').section_image.image_churn_gary
					.col-md-2

			.banner-use-case
				.container
					.row
						.media
							.media-left
								img(src='images/awesome_dude_4.png').media-object.use-case-face
							.media-body
								p "Timing is key when it comes to converting or upselling customers. Before MadKudu, I would send emails from time to time to all customers on a free plan. Now I can run very targeted campaigns that give awesome results."



			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Save at-risk trials
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu monitors signals that indicate a customer is likely to not convert.<br>You can now reach out and offer to help before it is too late.
					.col-md-2

				.row.section-three-images
					.col-md-4
						img(src='images/convert_claire.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/churn_diana.png').section_image.image_churn_gary
					.col-md-4
						img(src='images/churn_gary_response.png').section_image.image_churn_gary


			.banner-use-case
				.container
					.row
						.media
							.media-left
								img(src='images/awesome_gal_1.png').media-object.use-case-face
							.media-body
								p "Being able to identify and get in touch with dissatisfied customers before they leave is so effective. <br>I love it when customers say 'I was just about to call you but you beat me to it.'"



		section.section--benefits#section-benefits

			.container
				.row
					.col-md-12
						h2.heading-section.heading-section-margin-top Give super powers to the applications you already use
				.row
					.col-md-2
					.col-md-8
						h3.section-sub-heading MadKudu connects to your existing solutions to get raw customer data and push back actionable customer intelligence.
					.col-md-2

				.row.text-center
					img(src='images/feature_integrations.png').meet_madkudu_image

