extends ../components/skeleton.jade

include ../components/index-mixins.jade
include ../components/how_it_works.jade

block head
	title MadKudu | Accelerating SaaS sales with predictive analytics
	meta(name='description' content='Helping companies grow sales by consistently generating relevant conversations with qualified leads')
	meta(name="keywords" content="Predictive, Lead Scoring, Predictive Lead Scoring, Statups, Close.io, Closeio, Steli Efti, Sales, B2B, SaaS, Salesforce, Trial, Software SDR, Conversion Rate, MadKudu, Freemium, Trial, Segment, Guillaume Cabane, Clearbit, Datanyze, Predictive Churn Analytics, Mixpanel Predict, Salesforce Lead Scoring, Marketo Lead Scoring, Hubspot Lead Scoring, Slack Lead Scoring")
	meta(name="google-site-verification" content="fUo7QrdKPj6hvnA0LdX-wxx162ZJDKeT3W-_Zy0iqoU")

block neck
	script analytics.page('Home')
	script.
		$(document).ready(function () {
			$('.mki_landing_demo').click(function (event) {
				event.preventDefault();
				analytics.track('Landing Page - Clicked request demo');
				window.open('/contact','_blank');
			});
			$('.mki_landing_trial').click(function (event) {
				event.preventDefault();
				analytics.track('Landing Page - Clicked free trial');
				window.location = 'https://app.madkudu.com/signup';
			});
		});

block body

	//- MONTAZZE NOTE: Should remove this wrapper after changed all your site
	.body.primary_landing_page

		include ../components/header_white.jade

		header.jumbotron
			.container
				h1 Finally! Lead scoring that actually works
				p No fluff, actionable predictive analytics that generate pipeline
				p
					a.btn.btn-trial.btn-lg.btn-primary(class='mki_landing_trial', role='button') Try now
					a.btn.btn-demo.btn-lg.btn-primary(class='mki_landing_demo', role='button') Get a Demo

		section.products
			.container
				h2 Products
				.row.p-t
					.col-md-6
						.product_box
							h3 MadKudu Form
							p Get 60% more demos with smarter forms
							.btn.home__learn_more
								a(href="/smart-form") Learn more
					.col-md-6
						.product_box
							h3 Lead Scoring
							p Consistently send your sales team high quality leads
							.btn.home__learn_more
								a(href="/lead-scoring") Learn more

		section.customers
			.container
				h2 Featured Customers
				+customer-list
					each item in customer
						//- true: image as background variable
						+customer_item(item.name, item.image, item.url, true)
