extends ../components/skeleton.jade

block neck

	title MadKudu | Investors

	script analytics.page('Investors')

block body

	.wrapper
		.container

			.investor-section

				.row.text-center
					.col-md-2
					.col-md-8
						h1 MadKudu Investors Page
						p MadKudu is a predictive analytics solution that helps SaaS companies turn free users into paying customers.
					.col-md-2

				.row.text-center
					h3.text-center
						a(href="https://drive.google.com/uc?export=download&id=0B1_Kz3FZ3cslSWRNaHFyb243UFU" target="_blank") Download
						|  investor deck

					iframe(src="http://docs.google.com/gview?url=https%3A%2F%2Fdrive.google.com%2Fuc%3Fexport%3Ddownload%26id%3D0B1_Kz3FZ3cslSWRNaHFyb243UFU&embedded=true" style="width:100%; height:7350px;" frameborder="0")



