extends ../components/skeleton.jade

include ../components/index-mixins.jade
include ../components/how_it_works.jade

block head
    title MadKudu | Accelerating SaaS sales with predictive analytics
    meta(name='description' content='Accelerating SaaS sales with predictive analytics')

block neck
    script analytics.page('Home - MadKudu Outbound Tracking')
    script.
        $(document).ready(function () {
            $('.mki_landing_demo').click(function (event) {
                event.preventDefault();
                analytics.track('Landing Page - Clicked request demo');
                window.open('/contact?plan=madkudu_outbound','_blank');
            });
            $('.mki_landing_trial').click(function (event) {
                event.preventDefault();
                analytics.track('Landing Page - Clicked free trial');
                window.open('/contact?plan=madkudu_outbound','_blank'); //window.location = 'https://app.madkudu.com/signup?plan=madkudu_outbound';
            });
            $('.mki_get_started_now_bottom_button').click(function (event) {
                event.preventDefault();
                analytics.track('Landing Page - Clicked free trial');
                window.location = 'https://app.madkudu.com/signup?plan=madkudu_outbound&email=' + $('#signup_trial_email_input').val();
            });
            $('#signup_trial_email_input').keypress(function (e) {
              if (e.which == 13) {
                $('.mki_get_started_now_bottom_button').click();
                return false;
              }
            });
        });

block body

    .body.primary_landing_page

        include ../components/header_white.jade

        header.jumbotron
            .container
                h1 MadKudu Outbound Tracking
                p Enrich your leads with the relevant information your sales team needs to close more
                p
                    a.btn.btn-demo.btn-lg.btn-primary(class='mki_landing_demo', role='button') Request access

        .block.text-center.landing_page__quote_block.landing_page__block_light_grey
            blockquote.pull-quote
                img.rounded-circle(src="static/images/people/scott-smith@2x.png")
                p "MadKudu's outbound tracking has bridged the gap between inbound and outbound. My sales team no longer cares about click stats but only about visits and content consumption"
                cite Scott Smith, VP Sales, CloudApp

        //- .block.m-b-0
        //-     h2.landing_page__block_title Focus your reps on hot leads
        //-     .landing_page__block_subtitle by giving them the intel they need to succeed

        //-     .container.m-t

        //-         .row.landing_page__subblock
        //-             .col-md-6.landing_page__sub_block_column_text
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_text MadKudu tracks your leads
        //-                     .landing_page__block_feature_subtext If you send your leads to your website, MadKudu can help identify them. MadKudu will continuously update the leads score based on their visits.
        //-             .col-md-6.landing_page__sub_block_column_image
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_image
        //-                         img(src='static/images/topical_enrichment/topical_enrichment_research.jpg')

        //-         .row.landing_page__subblock
        //-             .col-md-6.landing_page__sub_block_column_image
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_image
        //-                         img(src='static/images/topical_enrichment/madkudu_intelligence.jpg')
        //-             .col-md-6.landing_page__sub_block_column_text
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_text MadKudu enriches your leads in your CRM
        //-                     .landing_page__block_feature_subtext MadKudu extracts insightful information from your leads' behavior to augment them consistently and help you prioritize:
        //-                     br
        //-                     |- reactivated leads who've recently come back
        //-                     br
        //-                     |- engaged leads that are consumming bottom of funnel content
        //-                     br
        //-                     |- new leads that are wanting to learn more

        //-         .row.landing_page__subblock
        //-             .col-md-6.landing_page__sub_block_column_text
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_text Run highly targetted outbound campaigns
        //-                     .landing_page__block_feature_subtext MadKudu provides a relevant classification of your leads based on displayed intent. Your teams can now run highly relevant campaigns that focus on purchase cycle stages.

        //-             .col-md-6.landing_page__sub_block_column_image
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_image
        //-                         img(src='static/images/topical_enrichment/topical_enrichment_emails.jpg')

        //-         .row.landing_page__subblock
        //-             .col-md-6.landing_page__sub_block_column_image
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_image
        //-                         img(src='static/images/topical_enrichment/topical_enrichment_api.jpg')
        //-             .col-md-6.landing_page__sub_block_column_text
        //-                 .landing_page__block_vertically_centered
        //-                     .landing_page__block_feature_text Enterprise-grade email integration
        //-                     .landing_page__block_feature_subtext MadKudu seemlessly integrates with your sales team email client and sales automation software.


        //- .block.block-inverse.text-center.landing_page__quote_block
        //-     blockquote.pull-quote
        //-         img.rounded-circle(src="static/images/people/hiten-shah@2x.png")
        //-         p "I'm excited"
        //-         cite Hiten Shah, Entrepreneur


        .block.text-center.landing_page__block_blue.madkudu_form__try_now
            h1 Make the most out of your leads
            p The leading Sales and Marketing teams are achieving high coverage of their financial plans with MadKudu. Learn how.

            a.btn.btn-demo.btn-lg.btn-primary(class='mki_landing_demo', role='button') Contact us
