extends ../components/skeleton.jade

block neck
	title MadKudu | Pricing

	script analytics.page('Pricing')

	script.
		$(document).ready(function () {
			$('.mki_pricing_demo').click(function (event) {
				event.preventDefault();
				analytics.track('Pricing - Clicked request demo');
				window.open('/contact','_blank');
			});
			$('.mki_pricing_trial').click(function (event) {
				event.preventDefault();
				analytics.track('Pricing - Clicked free trial');
				window.location = 'https://app.madkudu.com/signup';
			});
		});

block body

	.background-grey

		include ../components/header_white.jade

		.block.block-grey

			.container.text-center

				.row.container-pricing
					
					.col-sm-4.column-pricing.cd-popular
						header.cd-pricing-header
							h2 GROWTH
							.cd-price
								span.cd-currency $
								span.cd-value 999
								span.cd-duration mo
							.tier
								span helps teams of up to 2 SDRs engage their best leads at the right time
						.cd-pricing-body
							ul.p-l-0.cd-pricing-features
								li Up to 10k new leads/month
								li Configured Lead Scoring
								li Likelihood to buy predictions
								li Standard enrichment
								li All integrations

					.col-sm-4.column-pricing
						header.cd-pricing-header
							h2 PRO
							.cd-price
								span.cd-currency $
								span.cd-value 2499
								span.cd-duration mo
							.tier
								span helps up to 10 sales reps manage the best leads in CRM
						.cd-pricing-body
							ul.p-l-0.cd-pricing-features
								li Up to 30k new leads/month
								li Customized Lead Scoring
								li Likelihood to buy predictions								
								li Configured enrichment
								li All integrations
								li Designated Slack channel

					.col-sm-4.column-pricing
						header.cd-pricing-header
							h2 ENTERPRISE
							.tier
								span Need anything  more? <a href='http://www.madkudu.com/contact' target='_blank'>Contact us.</a>
						.cd-pricing-body

				.row.pricing-buttons.m-y-md
					p
						a.btn.btn-trial.btn-lg.btn-primary.m-r-md(class='mki_pricing_trial', role='button') Get started
						a.btn.btn-demo.btn-lg.btn-primary(class='mki_pricing_demo', role='button') Get a Demo

					.container
						.row.m-t.text-center
							.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
								h2.m-t FAQ
						.row
							.col-sm-12.cd-pricing-faq
								ul.featured-list.text-left
									li.m-b-md
										h4 How does the pricing work?
										p Our pricing factors in the volume of new leads to score per month along with the distinct number of models used for scoring.

										h4 Can I get multiple lead scoring models?
										p Lead scoring models are specific to a plan/product, if you sell multiple we will configure a model per plan/product.
										
										h4 Can MadKudu configure multiple behavioral models?
										p Yes, we offer custom configured behavioral models on our Entreprise plan.

										h4 How does the pricing evolve with the number of configured models?
										p Our pricing scales according to the increasingly with the number of models while the price per lead decreases with the total number of leads.
										p <a href='http://www.madkudu.com/contact' target='_blank'>Contact us</a> to get a quote for the setup that best matches your needs

										h4 I only get a few hundred new leads per month, can I pay per lead?
										p Absolutely, we want to help the startup community! You can signup for our startup plan and let us know, we will put you on our "a la carte" pricing.

										h4 What is the basis of the lead scoring and behavioral models?
										p MadKudu researches each lead based on Customer fit metrics firmographic traits like geography, company size, technographics, etc. and determines how much the lead resembles a likely buyer based on historical conversions.
										p MadKudu also observe your customers' in-app behavior to make behavioral predictions (conversion, churn, upsell, activation...)

										h4 Can we be invoice for MadKudu's services?
										p We offering invoicing for Growth plans and above.

										h4 I need to do a one-time analysis of my lead database, can MadKudu help?
										p Yes, we offer one-off analysis of your past leads as the core of our lead scoring model setup.