extends ../components/skeleton.jade

block neck
	title MadKudu | Pricing

	script analytics.page('Pricing')

	script.
		$(document).ready(function () {
			$('.mki_pricing_demo').click(function (event) {
				event.preventDefault();
				analytics.track('Pricing - Clicked request demo');
				window.open('/contact','_blank');
			});
			$('.mki_pricing_trial').click(function (event) {
				event.preventDefault();
				analytics.track('Pricing - Clicked free trial');
				window.location = 'https://app.madkudu.com/signup';
			});
		});

block body

	.background-grey

		include ../components/header_white_new.jade

		.block.block-grey

			.container.text-center

				.row.container-pricing

					.col-sm-3.column-pricing
						header.cd-pricing-header
							h2 STARTUP
							.cd-price
								span.cd-currency $
								span.cd-value 249
								span.cd-duration mo
							.tier
								span helps 1 sales rep identify best leads in 1st hour

						.cd-pricing-body
							ul.p-l-0.cd-pricing-features
								li Researches new leads
								li 1-channel Slack notifications
								li Customer fit lead scoring
								li QUALIFIED NEW LEAD alerts

						//- footer.cd-pricing-footer
						//- 	a.btn.btn-block.btn-primary.btn-lg(class='mki_pricing_trial') Get started

					.col-sm-3.column-pricing.cd-popular
						header.cd-pricing-header
							h2 GROWTH
							.cd-price
								span.cd-currency $
								span.cd-value 999
								span.cd-duration mo
							.tier
								span helps 1-2 sales reps engage best leads at the right time
						.cd-pricing-body
							ul.p-l-0.cd-pricing-features
								li Researches new leads
								li 1-channel Slack notifications
								li Customer fit lead scoring
								li QUALIFIED NEW LEAD alerts
								li In-app behavior lead scoring
								li ACTIVATION alerts
								li READY-TO-BUY alerts
								//- li Likelihood to convert
								//- li
								//- 	em 5
								//- 	|  one-click integrations
								//- li Email Support
						//- footer.cd-pricing-footer
						//- 	a.btn.btn-block.btn-primary.btn-lg(class='mki_pricing_demo') Get a demo

					.col-sm-3.column-pricing.cd-popular
						header.cd-pricing-header
							h2 PRO
							.cd-price
								span.cd-currency $
								span.cd-value 2499
								span.cd-duration mo
							.tier
								span helps up to 10 sales reps manage the best leads in Slack and CRM
						.cd-pricing-body
							ul.p-l-0.cd-pricing-features
								li Researches new leads
								li Multi-channel Slack notifications
								li Customer fit lead scoring
								li QUALIFIED NEW LEAD alerts
								li In-app behavior lead scoring
								li ACTIVATION alerts
								li READY-TO-BUY alerts
								li Personal Slack notifications
								li Push data to CRM
								//-
						//- footer.cd-pricing-footer
						//- 	a.btn.btn-block.btn-primary.btn-lg(class='mki_pricing_demo') Get a demo

					.col-sm-3.column-pricing
						header.cd-pricing-header
							h2 ENTERPRISE
							.tier
								span More than 10 sales reps? Contact us.
						.cd-pricing-body
							//- ul.p-l-0.cd-pricing-features
							//- 	li Advanced Data Audit
							//- 	li Conversion Factor Analysis
							//- 	li User clustering
							//- 	li Full SQL access to MadKudu Data
							//- 	li Likelihood to convert
							//- 	li Likelihood to upsell
							//- 	li
							//- 		em Unlimited
							//- 		|  integrations
							//- 	li Onboarding & Training
							//- 	li Weekly data scientist check-in
						//- footer.cd-pricing-footer
						//- 	a.btn.btn-block.btn-primary.btn-lg(class='mki_pricing_demo') Get a demo

				.row.pricing-buttons.m-y-md
					p
						a.btn.btn-trial.btn-lg.btn-primary.m-r-md(class='mki_pricing_trial', role='button') Get started
						a.btn.btn-demo.btn-lg.btn-primary(class='mki_pricing_demo', role='button') Get a Demo

					.container
						.row.m-t.text-center
							.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
								h2.m-t FAQ
						.row
							.col-sm-12.cd-pricing-faq
								ul.featured-list.text-left
									li.m-b-md
										h4 What is the difference between QUALIFIED NEW LEAD, ACTIVATION, AND READY-TO-BUY alerts?
										p MadKudu researches each lead based on Customer fit metrics like geography, company size, etc. and notifies you via QUALIFIED NEW LEAD alerts when a good lead signs up.
										p We can also observe your customers' in-app behavior so you engage the right leads at the right time.
										p With in-app behavior we can send you ACTIVATION alerts when leads begin using your product and READY-TO-BUY alerts when you should contact them to close a sale.
