extends ../components/skeleton.jade

block neck
	title MadKudu | Pricing

	script analytics.page('Pricing')

block neck
	title MadKudu | Turn trial users into paying customers

block body

	include ../components/header_white.jade

	.block.app-price-plans

		.container.text-center
			.row.m-b-lg
				.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
					h6.text-muted.text-uppercase Business Talk
					h3.m-t-0 No plans. We just bump your plan whenever you need it.

			.row

				.col-sm-4.p-x.m-b-lg
					.p-x
						h6.text-muted.text-uppercase.m-b Personal
						img.m-b(src='static/images/startup-15.svg')
						p Plenty of processing power for any personal projects, big or small.

					ul.list-unstyled.list-bordered.text-left.m-y-md
						li.p-y <strong>10k</strong> monthly requests
						li.p-y <strong>9am-5pm</strong> technical supprt
						li.p-y <strong>Public</strong> API access

					button.btn.btn-lg.btn-primary.btn-block Start <span class="visible-lg-inline">a personal account</span>


				.col-sm-4.p-x.m-b-lg
					.p-x
						h6.text-muted.text-uppercase.m-b Business
						img.m-b(src='static/images/startup-16.svg')
						p PThe perfect sized plan for small businesses to get started.

					ul.list-unstyled.list-bordered.text-left.m-y-md
						li.p-y <strong>100k</strong> monthly requests
						li.p-y <strong>24/7</strong> technical supprt
						li.p-y <strong>Public</strong> API access

					button.btn.btn-lg.btn-primary.btn-block Start <span class="visible-lg-inline">a business account</span>


				.col-sm-4.p-x.m-b-lg
					.p-x
						h6.text-muted.text-uppercase.m-b Corporate
						img.m-b(src='static/images/startup-17.svg')
						p An unlimited plan that will scale infinitely to any size project.

					ul.list-unstyled.list-bordered.text-left.m-y-md
						li.p-y <strong>Unlimited</strong> monthly requests
						li.p-y <strong>24/7</strong> technical supprt
						li.p-y <strong>Public & Private</strong> API access

					button.btn.btn-lg.btn-primary.btn-block Start <span class="visible-lg-inline">a personal account</span>
