extends ../components/skeleton.jade

block neck
	title MadKudu | Pricing

	script analytics.page('Pricing')

block neck
	title MadKudu | Turn trial users into paying customers

block body

	include ../components/header_black.jade

	.block.block-pricing

		.container.text-center
			.row.m-t-lg.m-b
				.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
					//- h6.text-muted.text-uppercase Business Talk
					h3.m-t-0 Early Access Pricing

			.row.container-pricing

				.col-sm-4.column-pricing
					header.cd-pricing-header
						h2 GROWTH
						.cd-price
							span.cd-currency $
							span.cd-value 249
							span.cd-duration mo
						.tier
							span Up to 10K users

					.cd-pricing-body
						ul.p-l-0.cd-pricing-features
							li Data Audit
							li Conversion Factor Analysis
							li Likelihood to convert
							li Likelihood to upsell
							li
								em 2
								|  one-click integrations
							li Email Support

					footer.cd-pricing-footer
						a.cd-select(href='/#section-signup') 14-DAY FREE TRIAL

				.col-sm-4.column-pricing.cd-popular
					header.cd-pricing-header
						h2 PRO
						.cd-price
							span.cd-currency $
							span.cd-value 799
							span.cd-duration mo
						.tier
							span Up to 250K users
					.cd-pricing-body
						ul.p-l-0.cd-pricing-features
							li Advanced Data Audit
							li Conversion Factor Analysis
							li Likelihood to convert
							li Likelihood to upsell
							li
								em 5
								|  one-click integrations
							li Onboarding & Training
							li Monthly data-scientist check-in
					footer.cd-pricing-footer
						a.cd-select(href='/#section-signup') 14-DAY FREE TRIAL

				.col-sm-4.column-pricing
					header.cd-pricing-header
						h2 Premier
						.cd-price
							span.cd-currency $
							span.cd-value 2,499
							span.cd-duration mo
						.tier
							span Up to 1M users
					.cd-pricing-body
						ul.p-l-0.cd-pricing-features
							li Advanced Data Audit
							li Conversion Factor Analysis
							li User clustering
							li Full SQL access to MadKudu Data
							li Likelihood to convert
							li Likelihood to upsell
							li
								em Unlimited
								|  integrations
							li Onboarding & Training
							li Weekly data scientist check-in
					footer.cd-pricing-footer
						a.cd-select(href='/#section-signup') 14-DAY FREE TRIAL
