extends ../components/skeleton.jade

block neck
	title MadKudu | Security Policy

	script analytics.page('Security Policy')

block body

	.background-white

		include ../components/header_black.jade

		.block.block-security

			.container

				h1 Security Policy

				p Our customers trust us with access to sensitive and valuable data to do our jobs. We take this responsibility <strong>very</strong> seriously.

				p This document outlines our policies for being responsible stewards of this data. Please send any questions or comments to Paul Cothenet, MadKudu's Security Officer: paul@madkudu.com.

				p Last updated May 24, 2015.

				h2.terms-title Our security philosophy

				p At MadKudu, we hold ourselves to a set of principles that guide every engineering and operational decision.

				h4.terms-title Our golden rule: we treat your data like our data

				p We share our own internal business data with 3rd parties and expect them to adhere to a high level of security standards. We hold ourselves to this same level. How? By asking ourselves one simple question:

				p <em>Suppose we were you - how would we want our data handled?</em>

				p Almost every situation is covered with this golden rule.

				h4.terms-title We retrieve and store only what we need

				p Storing less data saves us money, but more importantly, limits our exposure.

				h4.terms-title We follow industry best practices

				p The overwhelming majority of security issues can be avoided by following industry best practices: password policies, anti-virus software, encryption, access control. We adhere to them.

				h4.terms-title We tell you if we think something went wrong

				p Mistakes happen. Bad people do bad things. Prudent companies get hacked. It could happen to you or to us.

				p Nobody can promise 100% security - but everyone can promise 100% transparency. So we do.

				h2.terms-title Quarterly reviews

				p We run a penetration test every quarter using one of the leading service providers. Next test is scheduled for July 2016.

				p We review and update this security policy every quarter to ensure we are current with best practices.

				p Our next review is scheduled for July 2016.

				h2.terms-title Data in-transit

				p All data in-transit is encrypted. We use https for all web app and API calls.

				p SSL is used for all database queries.

				p Two-factor authentication is used for all cloud services when available.

				p All third-party credentials are encrypted.

				h2.terms-title Data sharing

				p We don't share customer data with 3rd parties without a written agreement with the exception of:

				ul
					li We store and process data on Amazon AWS
					li We store data in a MongoDB database hosted by IBM (Compose.io).

				h2.terms-title Data storage

				p No data is stored locally (except as required for customer support or analysis, when aggregated results or a small sample of data need to be included in a deliverable).

				p Data is immediately deleted when a customer cancels.

				p We only store the data we need. For example, under no circumstances, we will ask you to send MadKudu SSN, credit card, birthday, and user password data.


				h2.terms-title Passwords

				p All passwords must conform to the following. Optional requirements are available for those customers who request them.

				ul
					li 12 characters minimum
					li At least 1 uppercase letter
					li At least 1 lowercase letter
					li At least 1 number
					li At least 1 non-alphanumeric character
					li (Optional) Passwords expire after 90 days.
					li (Optional) Password reuse prevention.

				h2.terms-title Background checks

				p We perform background checks on all employees hired after 5/1/2016.

				h2.terms-title Access control

				p Data access is controlled on a need-to-know basis based on an employee's responsibilities.

				h2.terms-title Security training
				
				p "Social engineering" - attacks that trick employees into breaking normal security procedures - can be a major source of vulnerability. The best mitigation against this risk is employee training. 
				
				p We conduct security training for each new employee and repeat it annualy. 

				h2.terms-title Malware and anti-virus protection

				p We install malware and anti-virus protection software whenever prudent based on risk and best practices.

				h2.terms-title Access logging

				p We log all system accesses retain access logs for at least 6 months.

				h2.terms-title Breach notifications

				p We will notify customers about any confirmed security or privacy breach as soon as possible. We provide assessment and mitigation reports within

				ul
					li 24 hours for a critical events.
					li 2 business days for non-critical events.
