extends ../components/skeleton.jade

block neck
	title MadKudu | Security Policy

	script analytics.page('Security Policy')

block body

	.background-white

		include ../components/header_white.jade

		.block.block-security

			.container

        h1.page-title Security Policy

				include ../../markdown/html/security.html
