extends ../components/skeleton.jade

block neck
	title MadKudu | Simulator

	script(src="/js/jquery.inputmask.bundle.min.js" type="text/javascript")
	script(type="text/javascript" src="https://www.google.com/jsapi")

	script(src="/js/simulator/bundle.js" type="text/javascript")

	script analytics.page('Simulator')

block body


	style.

		.tools_wrapper{
			background-color:#f2f2f2;
			padding-bottom: 50px;
			margin-top: 19px;
		}

		.insight_card {
			background-color:white;
			margin-bottom: 35px;
			padding-bottom: 25px;
			height: 360px;
		}

		.insight_card_no_chart {
			background-color:white;
			margin-bottom: 35px;
			padding-bottom: 25px;
		}

		.color-box {
			width: 15px;
			height: 15px;
			display: inline-block;
			background-color: #ccc;
			left: 5px;
			top: 5px;
			margin-right: 5px;
		}

		.mrr_forcecast_tagline {
			margin-bottom: 35px;
			//- color: black;
		}

		.label_red {
			color: #F15854
		}
		.label_green {
			color: #60BD68
		}
		.label_blue {
			color: #5DA5DA
		}

		input {
			text-align: center;
			font-weight: bold;
		}

		.form-control {
			color: #818181;
		}

	.tools_wrapper

		.container

			h1 SaaS MRR Simulator

			p Should I increase my focus on acquisition or on retention?
				| Use this simulator to find out.


			.container.insight_card

				h2.mrr_forcecast_tagline
					| In&nbsp
					span.label_projection_time.label_blue 12
					|  months,
					| your MRR will be&nbsp
					span.label_final_mrr.label_green $ 158 k
					| .<br>

				.row
					.col-sm-4

						form.form-horizontal
							.form-group
								label.col-sm-6.control-label(for="starting_MRR") Starting MRR
								.col-sm-6
									.input-group
										//- .input-group-addon $
										input.form-control#starting_MRR(type="text" placeholder="")
							.form-group
								label.col-sm-6.control-label(for="revenue_growth") Revenue growth
								.col-sm-6
									.input-group
										//- .input-group-addon $
										input.form-control#revenue_growth(type="text" placeholder="" maxlength: 4)
							.form-group
								label.col-sm-6.control-label(for="revenue_growth") Revenue churn
								.col-sm-6
									.input-group
										input.form-control#churn(type="text" placeholder="")
										//- .input-group-addon %
							.form-group
								label.col-sm-6.control-label(for="revenue_growth") Revenue upsell
								.col-sm-6
									.input-group
										input.form-control#upsell(type="text" placeholder="")
										//- .input-group-addon %
							.form-group
								label.col-sm-6.control-label(for="projection_time") Projection Time
								.col-sm-6
									.input-group
										input.form-control#projection_time(type="text" placeholder="")
										//- .input-group-addon %


					//- .col-sm-8(style='height: 250px;')
					.col-sm-8(style='')
						#chart_div_mrr


			.container.insight_card

				h2.mrr_forcecast_tagline
					| A&nbsp
					span.label_current_churn.label_red 5%
					|  churn rate reduces your MRR by&nbsp
					span.label_churn_amount.label_red $ 53 k
					|  in&nbsp
					span.label_projection_time.label_blue 12
					|  months. <br>


				//- var color_palette = ['5DA5DA','FAA43A','60BD68','#D3D3D3'];
				.row
					.col-sm-4
						ul(style='list-style-type: none;')
							li
								.color-box(style='background-color:#5DA5DA;')
								| MRR from new customers
							li
								.color-box(style='background-color:#FAA43A;')
								| MRR from upsells
							li
								.color-box(style='background-color:#60BD68;')
								| MRR from existing customers
							li
								.color-box(style='background-color:#D3D3D3;')
								| Lost MRR due to churn


					.col-sm-8
						#chart_div_mrr_breakdown



			.container.insight_card_no_chart

				h2.mrr_forcecast_tagline
					| You will spend&nbsp
					span.label_acquisition_spend_for_churn.label_red $ 211 k
					|  in acquisition to compensate churned revenue.

				.row
					.col-sm-6
						//- form.form-horizontal
						form
							.form-group
								label.control-label(for="acquisition_spend") Sales & Marketing expenses
								//- .col-sm-6
								.input-group
									input.form-control#acquisition_spend(type="text" placeholder="")

				p You have to spend&nbsp
					span.label_acquisition_units $ 4
					|  in acquisition to increase your MRR by $ 1.


			.container.insight_card

				h2.mrr_forcecast_tagline
					| Reducing your churn from&nbsp
					span.label_current_churn.label_red 5%
					|  to&nbsp
					span.label_desired_churn.label_red 4%
					|  increases your MRR by&nbsp
					span.label_mrr_saved.label_green $20,000
					|  in&nbsp
					span.label_projection_time.label_blue 12
					|  months. <br>

				.row
					.col-sm-4

						//- form.form-horizontal
						form
							.form-group
								//- label.col-sm-6.control-label(for="starting_MRR") Desired revenue churn
								//- .col-sm-6
								//- 	.input-group
								//- 		//- .input-group-addon $
								//- 		input.form-control#desired_churn(type="text" placeholder="")
								label.control-label(for="desired_churn") Desired revenue churn
								.input-group
									//- .input-group-addon $
									input.form-control#desired_churn(type="text" placeholder="")

						ul(style='list-style-type: none;padding-left: 0px;margin-top: 50px;')
							li
								.color-box(style='background-color:#5DA5DA;')
								| MRR with current churn
							li
								.color-box(style='background-color:#60BD68;')
								| MRR from desired churn


					.col-sm-8
						#chart_div_mrr_goal



