extends ../components/skeleton.jade

block neck
	title MadKudu | Team

	script analytics.page('Team')

block body

	include ../components/header_white.jade

	.block.block-inverse.block-home
		//- .block-primary

		.container

			.row.m-b-lg.m-t-lg

				.col-sm-10.col-sm-offset-1
					h2.m-t-0.m-b.text-center We're on a mission to help companies use their data<br>to build meaningful and profitable relationships<br>with their customers.

			.row
				p.lead
					| We are passionate about helping companies
					| leverage their data to better understand their customers and to
					| deliver meaningful experiences. This is what we have done for years.
				p.lead
					| We have seen again and again how effective it can be. But also how difficult and complicated
					| it is to turn disparate data into actionable intelligence.
				p.lead
					| Only a few companies today are able to do so.
				p.lead
					| MadKudu was started from the desire to make it simple for every company to reap the benefits of deep customer analytics.


	.block.block-team
		.container

			.row
				.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
					h3.m-t-0.m-b-lg.text-center.text-uppercase Team

			.row
				.col-sm-3.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/sam.png" width="200" alt="Sam" itemprop="photo")
						.team__name(itemprop="name") Sam Levan
						.team__work(itemprop="title") Chief Yes Officer (CEO)
						.team__social
							a.team__social--link(href="https://www.linkedin.com/pub/anselme-levan/1/958/119")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Sam Levan LinkedIn")
							a.team__social--link(href="https://twitter.com/anselmelevan")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Sam Levan Twitter")
						a.team__email(href="mailto:sam@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank") sam@madkudu.com
						h4.team__header Loves
						ul.team__list
							li Happy customers
							li Great products
							li Flamenco
						h4.team__header Fears
						ul.team__list
							li Ignorance
							li Fear itself
				.col-sm-3.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/paul.png" width="200" alt="Kudu horn" itemprop="photo")
						.team__name(itemprop="name") Paul Cothenet
						.team__work(itemprop="title") Chief No Officer (CTO)
						.team__social
							a.team__social--link(href="https://www.linkedin.com/in/paulcothenet/en")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Paul Cothenet LinkedIn")
							a.team__social--link(href="https://twitter.com/paulcothenet")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Paul Cothenet Twitter")
						a.team__email(href="mailto:paul@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank") paul@madkudu.com
						h4.team__header Loves
						ul.team__list
							li Data
							li Mountains
							li Coffee
						h4.team__header Fears
						ul.team__list
							li Sam's kids
							li
								a(href="http://attackwithnumbers.com/the-laws-of-shitty-dashboard" target="_blank") Shitty dashboards
				.col-sm-3.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/francis.png" width="200" alt="Kudu horn" itemprop="photo")
						.team__name(itemprop="name") Francis Brero
						.team__work(itemprop="title") Chief Yiha Officer (CCO)
						.team__social
							a.team__social--link(href="https://www.linkedin.com/in/francisbrero")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Francis Brero LinkedIn")
							a.team__social--link(href="https://twitter.com/francisbrero")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Francis Brero Twitter")
						a.team__email(href="mailto:francis@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank") francis@madkudu.com
						h4.team__header Loves
						ul.team__list
							li Implementing
							li Surfing
							li The number 73
						h4.team__header Fears
						ul.team__list
							li Irrationality
							li Kooks
				.col-sm-3.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/erik.png" width="200" alt="Kudu horn" itemprop="photo")
						.team__name(itemprop="name") Erik Villaume
						.team__work(itemprop="title") Chief Pun Officer (Engineer)
						.team__social
							a.team__social--link(href="https://www.linkedin.com/in/erik-villaume-a32a6624")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Erik Villaume LinkedIn")
						a.team__email(href="mailto:erik@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank") erik@madkudu.com
						h4.team__header Loves
						ul.team__list
							li Predicting lift
							li Suffering
							li Chvres
						h4.team__header Fears
						ul.team__list
							li Stagnation
							li Raccoons



	.block.block-team
		.container

			.row

				.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
					h3.m-t-0.m-b-lg.text-center.text-uppercase Advisors

			.row

				.col-sm-4.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/denise.png" width="150" alt="Kudu horn" itemprop="photo")
						.team__name(itemprop="name") Denise Hulce
						.mentor-team__social
							a.team__social--link(href="https://www.linkedin.com/in/denisehulce")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Denise Hulce's LinkedIn")
							a.team__social--link(href="https://twitter.com/dmhulce")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Denise Hulce's Twitter")

				.col-sm-4.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/brad.png" width="150" alt="Brad" itemprop="photo")
						.team__name(itemprop="name") Brad Bernthal
						.mentor-team__social
							a.team__social--link(href="https://www.linkedin.com/pub/brad-bernthal/3/85a/baa")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Brad Bernthal's LinkedIn")
							a.team__social--link(href="https://twitter.com/bradbernthal")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Brad Bernthal's Twitter")

				.col-sm-4.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/alex.png" width="150" alt="Alex" itemprop="photo")
						.team__name(itemprop="name") Alex Raymond
						.mentor-team__social
							a.team__social--link(href="https://www.linkedin.com/in/afraymond")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Alex Raymond's LinkedIn")
							a.team__social--link(href="https://twitter.com/afraymond")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Alex Raymond's Twitter")

			.row

				.col-sm-offset-2.col-sm-4.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/kevin.png" width="150" alt="Kevin" itemprop="photo")
						.team__name(itemprop="name") Kevin Dewalt
						.mentor-team__social
							a.team__social--link(href="https://www.linkedin.com/in/kevindewalt")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Kevin Dewalt's LinkedIn")
							a.team__social--link(href="https://twitter.com/kevindewalt")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Kevin Dewalt's Twitter")

				.col-sm-4.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="static/images/team/francois.png" width="150" alt="Francois" itemprop="photo")
						.team__name(itemprop="name") Francois Bondiguel
						.mentor-team__social
							a.team__social--link(href="https://www.linkedin.com/in/francoisbondiguel")
								img(src="static/images/team_linkedin.svg" target="_blank" width="15" alt="Francois Bondiguel's LinkedIn")
							a.team__social--link(href="https://twitter.com/kaedron")
								img(src="static/images/team_twitter.svg" target="_blank" width="15" alt="Francois Bondiguel's Twitter")


	.block.block-team
		.container

			.row

				.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
					h3.m-t-0.m-b-lg.text-center.text-uppercase Investors


			.row

				.col-sm-12.text-center
					.team__investor
						a(href='http://www.techstars/com' target='_blank')
							img.techstars--footer(src='static/images/techstars.png' alt='techstars')


	.block.block-inverse.block-dark-grey.p-y.p-b.block-pledge
		.container.text-center

			.row.m-t-md
				.col-sm-12.text-center
					a(href='http://pledge1percent.org/' target='_blank')
						img(src='static/images/pledge1percent.png' alt='Pledge 1 Percent' width="80")
			.row.m-t.m-b-md
				h4.text-muted MadKudu is proud to be a member of the <a href='http://pledge1percent.org/' target='_blank'>Pledge 1%</a> movement.





