extends ../components/skeleton.jade

block neck
	title MadKudu | Team

	script analytics.page('Team')

block body


	.team__wrapper

		.container.madkudu-mission
			h1.text-center We're on a mission to help companies use their data<br>to build meaningful and profitable relationships<br>with their customers.

		.container.madkudu-story
			.row
				.col-sm-3
				.col-sm-6.team-column
					p Sam and Paul have more than 10 years of combined experience helping companies
						| leverage their data to better understand their customers and to
						| deliver meaningful experiences.
					p They have seen again and again how effective it could be. But also how difficult and complicated
						| it is to turn disparate data into actionable intelligence.
					p Only a few companies today have the resources to do so.
					p MadKudu was started from the desire to make it simple for every company to reap the benefits of deep customer analytics.
				.col-sm-3

		.container
			.row
				.col-sm-6.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="images/sam.png" width="200" alt="Sam" itemprop="photo")
						.team__name(itemprop="name") Sam Levan
						.team__work(itemprop="title") Chief Yes Officer
						.team__social
							a.team__social--link(href="https://www.linkedin.com/pub/anselme-levan/1/958/119")
								img(src="images/linkedin_footer.svg" target="_blank" width="15" alt="Sam Levan LinkedIn")
							a.team__social--link(href="https://twitter.com/anselmelevan")
								img(src="images/twitter_footer.svg" target="_blank" width="15" alt="Sam Levan Twitter")
						a.team__email(href="mailto:sam@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank") sam@madkudu.com
						h4.team__header Loves
						ul.team__list
							li Happy customers
							li Great products
							li Flamenco
						h4.team__header Fears
						ul.team__list
							li Ignorance
							li Fear itself
						h4.team__header Previous Lives
						ul.team__list
							li VP Product at <a href='http://www.agilone.com/'>AgilOne</a>
							li Data Scientist
				.col-sm-6.team-column
					.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
						img(class="team__image" src="images/paul.png" width="200" alt="Kudu horn" itemprop="photo")
						.team__name(itemprop="name") Paul Cothenet
						.team__work(itemprop="title") Chief No Officer
						.team__social
							a.team__social--link(href="https://www.linkedin.com/in/paulcothenet/en")
								img(src="images/linkedin_footer.svg" target="_blank" width="15" alt="Paul Cothenet LinkedIn")
							a.team__social--link(href="https://twitter.com/paulcothenet")
								img(src="images/twitter_footer.svg" target="_blank" width="15" alt="Paul Cothenet Twitter")
						a.team__email(href="mailto:paul@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank") paul@madkudu.com
						h4.team__header Loves
						ul.team__list
							li Data
							li Mountains
							li Coffee
						h4.team__header Fears
						ul.team__list
							li Sam's kids
							li Shitty dashboards
						h4.team__header Previous Lives
						ul.team__list
							li Product Manager & Data Plumber at <a href='http://www.agilone.com/'>AgilOne</a>
							li Nuclear Engineer
