extends ../components/skeleton.jade

block neck
	title MadKudu | Dev

	script(type='text/javascript' src='js/home.js')

block body

	.container
		.row
			.col-sm-6.team-column
				.team-block(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
					img(class="team__image" src="images/horn_1.png" width="250" alt="Kudu horn" itemprop="photo")
					.team__name(itemprop="name") Sam Levan

<div class="section-page">
		<div class="w-container">
			<div class="w-row">
				<div class="w-col w-col-6 team-column">
					<div class="team-block" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">
						<div class="name-staff" itemprop="name">SAM&nbsp;LEVAN</div>
						<div class="team-work" itemprop="title">Co-founder &amp;&nbsp;Chief Yes Officer</div>
						<div class="social_block">
							<a class="w-inline-block social_team" href="https://www.linkedin.com/pub/anselme-levan/1/958/119"><img src="images/linkedin_footer.svg" width="15" alt="536bca1bc0b084ab35bc837b_linkedin_footer.svg">
							</a>
							<a class="w-inline-block social_team" href="https://twitter.com/anselmelevan" target="_blank"><img src="images/twitter_footer.svg" width="15" alt="536bc9f9c1161b086f47792d_twitter_footer.svg">
							</a>
						</div><a class="contact" href="mailto:sam@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank">sam@madkudu.com</a>
						<div class="team-block">
							<h4 class="team-header">Loves</h4>
							<ul class="bio-list">
								<li class="team-item">Customer Success</li>
								<li class="team-item">Great products</li>
								<li class="team-item">Flamenco</li>
							</ul>
							<h4 class="team-header">Fears</h4>
							<ul class="bio-list">
								<li class="team-item">Untapped potential</li>
								<li class="team-item">Fear</li>
							</ul>
							<h4 class="team-header">PREVIOUS&nbsp;LIVES</h4>
							<ul class="bio-list">
								<li class="team-item">VP&nbsp;Product at AgilOne</li>
								<li class="team-item">Director of Client Success at AgilOne</li>
								<li class="team-item">Data scientist</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="w-col w-col-6 team-column">
					<div class="team-block" itemtype="http://data-vocabulary.org/Person" itemscope="itemscope"><img class="team-image" src="images/horn_2.png" width="250" alt="53c5c86a5397029547eb6979_horn_2.png" itemprop="photo">
						<div class="name-staff" itemprop="name">PAUL&nbsp;COTHENET</div>
						<div class="team-work" itemprop="title">Co-founder &amp;&nbsp;Chief No Officer</div>
						<div class="social_block">
							<a class="w-inline-block social_team" href="https://www.linkedin.com/in/paulcothenet/en" target="_blank"><img src="images/linkedin_footer.svg" width="15" alt="536bca1bc0b084ab35bc837b_linkedin_footer.svg">
							</a>
							<a class="w-inline-block social_team" href="http://www.twitter.com/paulcothenet" target="_blank"><img src="images/twitter_footer.svg" width="15" alt="536bc9f9c1161b086f47792d_twitter_footer.svg">
							</a>
							<a class="w-inline-block social_team" href="http://attackwithnumbers.com" target="_blank"><img src="images/link.svg" width="15" alt="53cdc61047f9301c4e67c965_link.svg">
							</a>
						</div><a class="contact" href="mailto:paul@madkudu.com?subject=Tell%20me%20more%20about%20MadKudu!" target="_blank">paul@madkudu.com</a>
						<div class="team-block">
							<h4 class="team-header">Loves</h4>
							<ul class="bio-list">
								<li class="team-item">Data</li>
								<li class="team-item">Mountains</li>
								<li class="team-item">Great design</li>
							</ul>
							<h4 class="team-header">Fears</h4>
							<ul class="bio-list">
								<li class="team-item">Sam’s kids</li>
								<li class="team-item">Shitty dashboards</li>
							</ul>
							<h4 class="team-header">PREVIOUS LIVES</h4>
							<ul class="bio-list">
								<li class="team-item">Product Manager &amp; Data Plumber at AgilOne</li>
								<li class="team-item">Nuclear engineer</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-embed w-script html_embed">
		<script>
			analytics.page('Team')
		</script>
	</div>
