extends ../components/skeleton.jade

block neck
  title MadKudu | Terms of Service

  script analytics.page('Terms of Service')

block body

  .background-white

    include ../components/header_white.jade

    .block

      .container

        include ../../markdown/html/terms.html
