//- include ../bootstrap/icons
//- include ../bootstrap/alerts
//- include ../bootstrap/tooltips
//- include ../bootstrap/accordion
//- include ../bootstrap/carousel
include ../bootstrap/tables
include ../bootstrap/navbar
include ../bootstrap/toggle
include ../bootstrap/navs
//- include ../bootstrap/labels
//- include ../bootstrap/panels
//- include ../bootstrap/tabs
//- include ../bootstrap/dropdowns
include ../bootstrap/forms
//- include ../bootstrap/modal
//- include ../bootstrap/list-groups
//- include ../bootstrap/progress-bars
include ../bootstrap/buttons
//- include ../bootstrap/images
//- include ../bootstrap/bootswatch