footer.footer
	.container
		.row.first
			.col-sm-12.col-md-2
				div.logo
					span Madkudu
			.col-sm-3.col-sm-push-1.col-md-3
				h5 Product
				ul
					li
						a(href="#") Pricing
					li
						a(href="#") Documentation
					li
						a(href="#") MRR Simulator
			.col-sm-3.col-sm-push-1.col-md-3
				h5 Company
				ul
					li
						a(href="#") Team
					li
						a(href="#") Jobs - we're hiring!
					li
						a(href="#") Blog
			.col-sm-3.col-sm-push-1.col-md-3
				h5 Contact
				p Madkudu Inc.
				ul
					li
						span.contact.location San Fransisco, CA
					li
						a(href="mailto:hello@madkudu.com?subject=Mail from Website", class=["contact", "email"]) hello@madkudu.com
		.row.second
			.col-md-3
				p.copyright.hidden-xs.hidden-sm &copy; 2016 Madkudu. All Rights Reserved.
			.col-md-6
				ul.inline-list
					li
						a(href="#") Security Policy
					li
						a(href="#") Terms of Service
					li
						a(href="#") Privacy Policy
				p.copyright.visible-xs-block.visible-sm-block &copy; 2016 Madkudu. All Rights Reserved.
			.col-md-3
				ul.inline-list.find-us
					li.twitter
						a(href="#") Twitter
					li.angelist
						a(href="#") Angelist
					li.facebook
						a(href="#") Facebook
					li.linkedin
						a(href="#") Linkedin