.block.block-inverse.footer-madkudu
	.container
		.row

			.col-sm-3.m-b-md
				ul.list-unstyled.list-spaced
					li.m-b
						h6.text-uppercase Contact
					li.text-muted MadKudu Inc.
					li.text-muted San Francisco, CA
					li.text-muted <a href="mailto:hello@madkudu.com">hello@madkudu.com</a>
					li.footer-social-links.m-t
						a.social-icon(href='https://www.twitter.com/madkudu' target='_blank')
							img(src='/static/images/footer_twitter.svg' width='15' alt='MadKudu Twitter')
						a.social-icon(href='https://www.angel.co/madkudu' target='_blank')
							img(src='/static/images/footer_angellist.svg' width='15' alt='MadKudu AngelList')
						a.social-icon(href='https://www.linkedin.com/company/madkudu' target='_blank')
							img(src='/static/images/footer_linkedin.svg' width='15' alt='MadKudu LinkedIn')
						a.social-icon(href='https://www.facebook.com/pages/MadKudu/682334211804512' target='_blank')
							img(src='/static/images/footer_facebook.svg' width='15' alt='MadKudu Facebook')



			.col-sm-3.m-b-md
				ul.list-unstyled.list-spaced
					li.m-b
						h6.text-uppercase Company
					li.text-muted
						a(href='/team') Team
					li.text-muted
						a(href='/blog') Blog


			.col-sm-3.m-b-md
				ul.list-unstyled.list-spaced
					li.m-b
						h6.text-uppercase Product
					li.text-muted
						a(href='/pricing') Pricing
					li.text-muted
						a(href='http://docs.madkudu.com') Documentation
					li.text-muted
						a(href='/simulator') MRR Simulator

			.col-sm-3.m-b-md
				ul.list-unstyled.list-spaced
					li.m-b
						h6.text-uppercase Legal
					//- li.text-muted
					//- 	a(href='/credits.html') Credits
					li.text-muted
						a(href='/terms') Terms of Service
					li.text-muted
						a(href='/privacy') Privacy Policy

		.row

			.col-sm-12.text-center
				a(href='http://www.techstars/com')
					img.techstars--footer(src='/static/images/techstars.png' alt='techstars')
