footer.footer
	.container
		.row.first
			.col-sm-12.col-md-2
				div.logo
					span Madkudu
			.col-sm-3.col-sm-push-1.col-md-3
				h5 Product
				ul
					li
						a(href="/pricing") Pricing
					li
						a(href='/opportunity-scoring') Opportunity scoring
					li
						a(href="http://docs.madkudu.com") Documentation
					li
						a(href="/simulator") MRR Simulator
			.col-sm-3.col-sm-push-1.col-md-3
				h5 Company
				ul
					li
						a(href="/team") Team
					li
						a(href="/careers") Jobs - we're hiring!
					li
						a(href="/blog") Blog
			.col-sm-3.col-sm-push-1.col-md-3
				h5
					a(href="/contact") Contact
				p MadKudu, Inc.
				ul
					li
						span.contact.location Mountain View, CA
					li
						span.contact.phone +1 (408) 909-5838
					li
						a(href="mailto:hello@madkudu.com?subject=Mail from Website", class=["contact", "email"]) hello@madkudu.com
		.row.second
			.col-md-3
				p.copyright.hidden-xs.hidden-sm &copy; 2016 Madkudu. All Rights Reserved.
			.col-md-6
				ul.inline-list
					li
						a(href="/security") Security Policy
					li
						a(href="/terms") Terms of Service
					li
						a(href="/privacy") Privacy Policy
				p.copyright.visible-xs-block.visible-sm-block &copy; 2016 Madkudu. All Rights Reserved.
			.col-md-3
				ul.inline-list.find-us
					li.twitter
						a(href="https://www.twitter.com/madkudu") Twitter
					li.angelist
						a(href="https://www.angel.co/madkudu") Angelist
					li.facebook
						a(href="https://www.facebook.com/pages/MadKudu/682334211804512") Facebook
					li.linkedin
						a(href="https://www.linkedin.com/company/madkudu") Linkedin
