footer.footer_wrapper
	.row
		.col-sm-4.footer-column-contact
			.company-info(itemtype='http://schema.org/Organization' itemscope='itemscope')
				span(itemprop='name') MadKudu Inc.
				a(href='http://www.madkudu.com' itemprop='url')
				a(href='mailto:hello@madkudu.com?subject=I%20want%20to%20learn%20more%20about%20MadKudu!') hello@madkudu.com
				span(itemprop='telephone') (510) 859-4520
				.address(itemprop='address' itemtype='http://schema.org/PostalAddress' itemscope='itemscope')
					img.info-icon(src='images/address.png' width='18' alt='536c2cb8c0b084ab35bc897b_address.png')
					span(itemprop='addressLocality') Mountain View
					span ,
					span(itemprop='addressRegion')  CA
				.footer-logo
					img(itemprop='logo' src='images/madkudu_rectangle.png')
		.col-sm-4.footer-column-links
			a(href='team.html') Team
			a(href='http://help.madkudu.com') Support
			a(href='credits.html') Credits
			a(href='terms-of-service.html') Terms of Service
			a(href='privacy-policy.html') Privacy Policy
		.col-sm-4.footer-column-social
			.footer-social-links
				a.social-icon(href='https://www.facebook.com/pages/MadKudu/682334211804512')
					img(src='images/facebook_footer.svg' width='15' alt='MadKudu Facebook')
				a.social-icon(href='https://www.linkedin.com/company/madkudu')
					img(src='images/linkedin_footer.svg' width='15' alt='MadKudu LinkedIn')
				a.social-icon(href='images/twitter_footer.svg')
					img(src='images/twitter_footer.svg' width='15' alt='MadKudu Twitter')
			.mixpanel-badge
				a(href='https://mixpanel.com/f/partner')
					img(src='https://cdn.mxpnl.com/site_media/images/partner/badge_light.png' alt='Mobile Analytics')
