nav.navbar.navbar-transparent.navbar-static-top.p-t-md.navbar-madkudu
	.container
		.navbar-header
			button.navbar-toggle.collapsed.p-x-0(type='button' data-toggle='collapse' data-target='#navbar-collapse-com')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.navbar-brand--logo(href="/")
				img(src='/static/images/madkudu_rectangle_large.svg' alt='MadKudu').hidden-sm
				img(src='/static/images/madkudu_square.svg' alt='MadKudu').visible-sm-block
		.navbar-collapse.collapse#navbar-collapse-com
			ul.nav.navbar-nav.navbar-right.text-uppercase.text-center
				include ./navbar.jade
				//- a.btn.btn-default-outline.btn-navbar(href='https://app.madkudu.com/signup') Signup
