include ../bootstrap/bootstrap.jade

+navbar-static(title,"top","white","/")
	+nav-list(true)
		+nav_item("/careers") We're Hiring
		+nav_item("/pricing") Pricing
		+nav_item("https://app.madkudu.com") Login
		li: a( href="https://app.madkudu.com/signup", class=["btn", "btn-default"] ) Sign Up Free