header

	script(type='text/javascript' src='js/header.js')

	nav.navbar.navbar-fixed-top.navbar--madkudu.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand.navbar-brand--madkudu(href='/')
					img.navbar-brand__logo(src='images/madkudu_rectangle.png' alt='MadKudu')

			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-nav--madkudu
					li#navbar_what
						a.nav__link(href='/#section-explainer') What is it?
					li#navbar_how
						a.nav__link(href='/#section-benefits') How does it work?
					li#navbar_why
						a.nav__link(href='/#section-why-madkudu') Why MadKudu?
				ul.header-button--right
					li
						a.button.button-signup.button-signup--nav(href='/#section-signup')#navbar_invite Send me an invite!
