include ../bootstrap/bootstrap.jade

+navbar-fixed(title,"top","white","/")
	.header__navbar
		+nav-list(true)
			li.dropdown
				a.header__item.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
					.header__item Products <i class="fa fa-angle-down" aria-hidden="true"></i>
				ul.header__dropdown
					.header__dropdown_item
						a(href='/form')
							h3 MadKudu Form
							p Instantly increase your number of sales calls with qualified leads
					.header__dropdown_item
						a(href='/lead-scoring')
							h3 MadKudu Lead Scoring
							p Consistently send high quality leads to your sales team

			li
				a(href="https://app.madkudu.com")
					.header__item Login
			li
				a(href="/contact")
					.header__demo_btn Get a demo
