include ../bootstrap/bootstrap.jade

+navbar-fixed(title,"top","white","/")
	.header__navbar
		+nav-list(true)
			li.dropdown
					a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
						.header__navbar_big_menu_element Products <i class="fa fa-angle-down" aria-hidden="true"></i>
					ul.header__navbar_big_menu
						.header__navbar_big_menu_item
							a(href='/smart-form')
								h3 MadKudu Smart Form
								p Get your web forms to generate qualified sales meetings
						.header__navbar_big_menu_item
							a(href='/lead-scoring')
								h3 MadKudu Lead Scoring
								p Consistently send high quality leads to your sales team

			//- li.m-r-lg
			//- 	a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Playbook <i class="fa fa-angle-down" aria-hidden="true"></i>
			//- 	ul.header__navbar_big_menu
			//- 		.header__navbar_big_menu_item
			//- 			a(href='lead-scoring.html')
			//- 				h3 Segment + MadKudu Smart Form
			//- 				p Personalize your form and get new sales inquiries in minutes
			//- 		.header__navbar_big_menu_item
			//- 			a(href='lead-scoring.html')
			//- 				h3 Segment + MadKudu Lead Scoring
			//- 				p Enrich your lead profiles with behavior and predicted intent
			//- 		.header__navbar_big_menu_item
			//- 			a(href='lead-scoring.html')
			//- 				h3 Zapier + MadKudu Lead Scoring
			//- 				p Connect your apps and automate your sales

			+nav_item("https://app.madkudu.com")
				.header__navbar_big_menu_element.p-r-0 Login
			+nav_item("/contact")
				.header__navbar_big_menu_demo_btn Get a demo
			//- li: a( href="https://app.madkudu.com/signup", class=["btn", "btn-default"] ) Sign Up Free
			//- +nav_item("/pricing") Pricing
			//- ul.dropdown-menu.header__navbar_big_menu
