header

	script(type='text/javascript' src='js/header.js')

	nav.navbar.navbar-fixed-top.navbar--madkudu.navbar-default.bigger-nav-bar
		.container-fluid.navbar-limited-width
			.navbar-header
				a.navbar-brand.navbar-brand--madkudu(href='/')
					img.navbar-brand__logo(src='images/madkudu_rectangle.png' alt='MadKudu')

			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-nav--madkudu
					li#navbar_what
						a.nav__link(href='#section-explainer') PRODUCT
					li#navbar_tool
						a.nav__link(href='/simulator.html') TOOLS
					li#navbar_who
						a.nav__link(href='/team.html') ABOUT
					//- li#navbar_why
					//- 	a.nav__link(href='#section-why-madkudu') Why MadKudu?
				ul.header-button--right

					li
						a.button.button-signup--nav(href='/#section-signup' style='display:none;')#navbar_invite Send me an invite!
						a.button(href='https://app.madkudu.com').button-login--nav Login
