include ../bootstrap/bootstrap.jade

+navbar-fixed(title,"top","white","/")
  .header__navbar
    +nav-list(true)
      li.dropdown
        a.header__item.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
          .header__item Products <i class="fa fa-angle-down" aria-hidden="true"></i>
        ul.header__dropdown
          .header__dropdown_item
            a(href='/form')
              h3 MadKudu Form
              p Instantly increase your number of sales calls with qualified leads
          .header__dropdown_item
            a(href='/lead-scoring')
              h3 Lead Scoring
              p Consistently send high quality leads to your sales team
          .header__dropdown_item
            a(href='/topical-enrichment')
              h3 Topical Enrichment
              p Enrich your leads with information relevant to your value proposition
          //- .header__dropdown_item
          //-   a(href='/software-sdr')
          //-     h3 MadKudu Software SDR
          //-     p Automatically engage your qualified leads with relevant messages across all channels
      //- li.dropdown
      //-   a.header__item.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
      //-     .header__item Integrations <i class="fa fa-angle-down" aria-hidden="true"></i>
      //-   ul.header__dropdown
      //-     .header__dropdown_item
      //-       a(href='/segment')
      //-         h3 Segment
      //-         p Score your leads instantly in Segment use behavioral and firmographic data
      //-     .header__dropdown_item
      //-       a(href='/drift')
      //-         h3 Drift
      //-         p Consistently generate high quality conversations with Drift
      //-     .header__dropdown_item
      //-       a(href='/Closeio')
      //-         h3 Close.io
      //-         p Advanced lead scoring for Close.io
      li.dropdown
        a.header__item.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
          .header__item Resources <i class="fa fa-angle-down" aria-hidden="true"></i>
        ul.header__dropdown
          .header__dropdown_item
            a(href="http://www.madkudu.com/blog")
              h3 Blog
              p Stay up to date with our latest analyses
          .header__dropdown_item
            a(href="/simulator")
              h3 MRR Simulator
              p Evaluate the impact of churn on your growth
      li
        a(href="https://app.madkudu.com")
          .header__item Login
      li
        a(href="/contact")
          .header__demo_btn Get a demo
