//- How it works Section
//- --------------------------------

mixin works-illustration()
	.works-illustration-img
		img(src="static/images/howitworks/hiw-image@2x.png")
	.works-illustration
		.data-block.data-block-customer
			.data-block-title
				h4 Your Customer Data
			ul
				li
					.data-box
						h5 CRM Profiles
						p
							span Name:
							| Joe Customer
						p
							span Company:
							| Ace Bandaids
						p
							span Phone:
							| 555-1212
				li
					.data-box
						h5 Marketing Activity
						ul
							li Opened Email
							li Downloaded PDF
							li Pricing Page
				li
					.data-box
						h5 In-app Activity
						ul
							li Signed up
							li Invited 3 Colleagues
							li Created Dashboard
		.data-block.data-block-third-party
			.data-block-title
				h4 3rd-Party Data Sources
			.data-box
				h5 Demographic &amp; 
					br
					| Firmographic Data
				ul
					li Title
					li Company Size
					li Industry
		.data-aggregator
			.data-block-title
				h4
					span Madkudu
			.arrow(style="display:none;")
				.arrow-left-part
				.arrow-top-part
				.arrow-right-part
			ol
				li Data Enrichment
				li Data Cleansing
				li Prediction Analytics
		.data-block.data-madkudu
			.data-block-title
				h4 Enriched CRM Profiles
			.data-box
				p
					span Name:
					| Joe Customer
				p
					span Company:
					| Ace Bandaids
				p
					span Phone:
					| 555-1212
				h5 Madkudu Data
				ul
					li Customer Fit
					li Ready to Buy
					li Upsell
					li Churn Potential