li
	a(href='/features') Integrations
li
	a(href='/pricing') Pricing
li.navbar-margin-right
	a(href='http://course.madkudu.com/') Academy
li
	a(href='/team') About
li
	a(href='https://app.madkudu.com/') Login
