doctype html
html
	head

		block head

		//- MadKudu CSS
		link(href='css/index.min.css',rel='stylesheet')


		// Fonts
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic')

		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic')

		meta(name='viewport' content='width=device-width, initial-scale=1')

		//- Favicon
		link(rel='shortcut icon' href='images/madkudu_ico.png' type='image/x-icon')
		link(rel='apple-touch-icon' href='images/madkudu_square_2_256.png')

		//jQuery
		script(type='text/javascript' src='js/jquery.min.js')

		// Segment
		script(type='text/javascript' src='js/segment.js')

		block neck

		body

			block header

				include ./header.jade

			block body

			block footer

				include ./footer.jade
