doctype html
html
	head

		block head

		//- MadKudu CSS
		link(rel="stylesheet" href="madkudu.min.css")

		//- Fonts
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic')
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic')
		link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600')

		//- Meta
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')

		//- Favicon
		link(rel='shortcut icon' href='madkudu_ico.png' type='image/x-icon')
		link(rel='apple-touch-icon' href='static/images/madkudu_square_256.png')

		//- jQuery
		script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')

		//- JS
		script(type='text/javascript' src='toolkit.min.js')

		block neck

		body

			block header

			block body

			block footer

				include ../components/footer.jade


