//- Including Bootstrap components mixin for faster development
include ../bootstrap/bootstrap.jade

// Content in index demo
include content_var.jade


doctype html
html(lang="en", class="no-js")
	head

		//- Meta
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")

		block head

		//- Favicon
		link(rel='shortcut icon' href='/madkudu_ico.png' type='image/x-icon')
		link(rel='apple-touch-icon' href='/static/images/madkudu_square_256.png')

		//- Fonts
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic')
		link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic')

		//-css
		link(rel="stylesheet" href="/madkudu.min.css")

		//- Modernizr
		script(src="/js/modernizr-custom.js")

		//- js
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='/toolkit.min.js')
		script(src='//cdn.optimizely.com/js/4566955495.js')

		block neck

		body

			block header

			block body

			block footer

				//- NOTE: can you help how to check if page is index in this skeleton? I still cant figure it out
				include ../components/footer_new.jade

			block scripts
