extends ../../components/skeleton.jade

block neck
	title MadKudu | Customer Success Manager

	script analytics.page('Careers - Customer Success Manager')

block body

	.background-white

		include ../../components/header_white.jade

		.block.block-careers

			.container

				include ../../../markdown/html/csm.html
