extends ../../components/skeleton.jade

block neck
	title MadKudu | Data Engineer

	script analytics.page('Careers - Data Engineer')

block body

	.background-white

		include ../../components/header_white_new.jade

		.block.block-careers

			.container

				include ../../../markdown/html/data_engineer.html
