extends ../../components/skeleton.jade

block neck
	title MadKudu | Suggest a job

	script analytics.page('Careers - Something else')

block body

	.background-white

		include ../../components/header_white.jade

		.block.block-careers

			.container

				include ../../../markdown/html/something_else.html
