extends ../../components/skeleton.jade

include ../../components/contact_form.jade
include ../../bootstrap/alerts.jade


block head
	title Find more revenue this quarter. A no BS MadKudu webinar
	meta(name='description' content='Accelerating SaaS sales with predictive analytics')

block neck
	script analytics.page('Contact')

block body

	//- MONTAZZE NOTE: Should remove this wrapper after changed all site
	.body

		include ../../components/header_white_new.jade

		section.contact
			.container

				h1 Find more revenue this quarter. Period
					br
					| a MadKudu webinar
				span.subheading by Francis, Madkudu's CRO and co-founder
				.contact-content
					div.team-list
						ul
							li
								.item-wrapper
									div(class=["image-bg", "image-team", "francis-brero"])
									div
										strong Francis Brero
										span CRO
						p In this session, Francis unveils tactical advice from 10 years of using data science to improve B2B SaaS sales at 100s of companies like Segment, Jitterbit, and Pipedrive.
					div.form-contact-wrapper
						form(id="fcontact",class=["form", "form-contact"],action="contact.html?s=sent",method="get")
							legend Schedule a call with us
							fieldset
								+input-field('text','firstname',null,'First Name','firstname','required')
								+input-field('text','lastname',null,'Last Name','lastname','required')
								+input-field('email','email',null,'Email','email', 'required')
								+input-field('tel','phone',null,'Phone Number','phone','required')
								+input-field('text','company',null,'Company Name or URL','company','required')
								+input-field('text','timecall',null,'When Are You Available for a call?','timecall',null)
								button.btn.btn-lg.btn-primary.btn-block.mki_contact(type='submit') Let's Chat!
					div.reason
						p With these recommendations you will tapping into massive sources of unexpected revenue.
						p If MadKudu can help your sales team be more efficient we’ll walk you through the next steps.

						iframe(width="420", height="315", src="http://www.youtube.com/embed/UX0qzZkTeQs", frameborder="0", allowfullscreen='allowfullscreen')

block scripts
	script(src="js/parsley.min.js")
	script.

		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		};

		if (!Date.prototype.toISOString) {
			(function() {

			    function pad(number) {
			    	if (number < 10) {
			        	return '0' + number;
						}
					return number;
			    }

			    Date.prototype.toISOString = function() {
			    	return this.getUTCFullYear() +
				        '-' + pad(this.getUTCMonth() + 1) +
				        '-' + pad(this.getUTCDate()) +
				        'T' + pad(this.getUTCHours()) +
				        ':' + pad(this.getUTCMinutes()) +
				        ':' + pad(this.getUTCSeconds()) +
				        '.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
				        'Z';
			    };

			}());
		}

		$(document).ready( function() {

			analytics.identify();

			var alertBox = getParameterByName('s');

			if (alertBox == "sent") {
				alertBoxSuccess = '<div role="alert" class="alert alert-dismissible alert-success"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Fabulous! We\'ll be in touch';

				$('.contact .container').prepend(alertBoxSuccess);
			}

			var formEl = $('#fcontact');

			formEl.on('submit', function(e) {

				e.preventDefault();

				var firstName = formEl.find('[name=firstname]').val(),
					lastName = formEl.find('[name=lastname]').val(),
					email = formEl.find('[name=email]').val(),
					phone = formEl.find('[name=phone]').val(),
					company = formEl.find('[name=company]').val(),
					timeCall = formEl.find('[name=timecall]').val(),
					timeNowObj = new Date(),
					timeNowStr = timeNowObj.toISOString();

				if (email) {
					analytics.identify({
						firstName: firstName,
						lastName: lastName,
						email: email,
						phone: phone,
						company: company,
						timeCall: timeCall,
						createdAt: timeNowStr
					});

					analytics.track('Request Demo', {
						firstName: firstName,
						lastName: lastName,
						email: email,
						phone: phone,
						company: company,
						timeCall: timeCall
					});

					setTimeout( function() {
						window.location.href = "/contact.html?s=sent"
					}, 1000);
				}
			});

		});
//- 741
